<h1>Accepted Papers</h1>
<ul>
    <li><b>Mixed Connectivity of Random Graphs</b><br>Ran Gu, Yongtang Shi and Neng Fan</li>
    <li><b>Conflict-free connection numbers of line graphs</b><br>Bo Deng, Wenjing Li, Xueliang Li, Yaping Mao
        and Haixing Zhao
    </li>
    <li><b>New Insights for Power Edge Set Problem</b><br>Benoit Darties, Annie Chateau, Rodolphe Giroudeau and
        Mathias Weller
    </li>
    <li><b>Approximation Algorithms for the Generalized Stacker Crane Problem</b><br>Jianping Li, Xiaofei Liu,
        Weidong Li and Li Guan
    </li>
    <li><b>Fast Approximation Algorithms for Computing Constrained Minimum Spanning Tree</b><br>Pei Yao and
        Longkun Guo
    </li>
    <li><b>Filtering Undesirable Flows in Networks</b><br>Gleb Polevoy, Stojan Trajanovski, Paola Grosso and
        Cees de Laat
    </li>
    <li><b>Modelling and Solving Anti-aircraft Mission Planning for Defensive Missile Battalions</b><br>Trang
        Nguyen, Trung Bui, Bang Nguyen and Su Le
    </li>
    <li><b>A Spectral Partitioning Algorithm for Maximum Directed Cut Problem</b><br>Zhenning Zhang, Donglei Du,
        Chenchen Wu, Dachuan Xu and Dongmei Zhang
    </li>
    <li><b>Extended spanning star forest problems</b><br>Kaveh Khoshkhah, Mehdi Khosravian Ghadikolaei, Jerome
        Monnot and Dirk Oliver Theis
    </li>
    <li><b>Faster and Enhanced Inclusion-Minimal Cograph Completion</b><br>Christophe Crespelle, Daniel
        Lokshtanov, Thi Ha Duong Phan and Eric Thierry
    </li>
    <li><b>Better approximation ratios for the single-vehicle scheduling problems on tree/cycle networks</b><br>Yuanxiao
        Wu and Xiwen Lu
    </li>
    <li><b>On the Complexity of Detecting \(k\)-Length Negative Cost Cycles</b><br>Longkun Guo and Peng Li</li>
    <li><b>A framework for overall storage overflow problem to maximize the lifetime in WSNs</b><br>Guoliang
        Song, Chen Zhang, Chuang Liu and Yuna Chai
    </li>
    <li><b>Floorplans with Columns</b><br>Katsuhisa Yamanaka, Md. Saidur Rahman and Shin-Ichi Nakano</li>
    <li><b>A Parallel Construction of Vertex-disjoint Spanning Trees with Optimal Heights in Star
            Networks</b><br>Shih-Shun Kao, Jou-Ming Chang, Kung-Jui Pai, Jinn-Shyong Yang, Shyue-Ming Tang and Ro-Yu
        Wu
    </li>
    <li><b>Trajectory-Based Multi-Hop Relay Deployment in Wireless Networks</b><br>Shilei Tian, Haotian Wang,
        Sha Li, Fan Wu and Guihai Chen
    </li>
    <li><b>An Efficient Primal-Dual Algorithm for Fair Combinatorial Optimization Problems</b><br>Viet Hung
        Nguyen and Paul Weng
    </li>
    <li><b>Structure of Towers and a New Proof of the Tight Cut Lemma</b><br>Nanao Kita</li>
    <li><b>Efficient Algorithms for Ridesharing of Personal Vehicles</b><br>Qianping Gu, Leo Jiajian Liang and
        Guochuan Zhang
    </li>
    <li><b>Protein Mover's Distance: A Geometric Approach for Solving Global Alignment of PPI Networks</b><br>Manni
        Liu and Hu Ding
    </li>
    <li><b>Optimal Topology Design of High Altitude Platform based Maritime Broadband Communication Networks</b><br>Jianli
        Duan, Tiange Zhao and Bin Lin
    </li>
    <li><b>A Refined Characteristic of Minimum Contingency Set for Conjunctive Query</b><br>Dongjing Miao and
        Zhipeng Cai
    </li>
    <li><b>Minimizing Total Completion Time of Batch Scheduling with Nonidentical Job Sizes</b><br>Rongqi Li,
        Zhiyi Tan and Qianyu Zhu
    </li>
    <li><b>A local search approximation algorithm for a squared metric \(k\)-facility location problem</b><br>Dongmei
        Zhang, Dachuan Xu, Yishui Wang, Peng Zhang and Zhenning Zhang
    </li>
    <li><b>Combinatorial Approximation algorithms for Spectrum Assignment Problem in Chain and Ring Networks</b><br>Guangting
        Chen, Lei Zhang, An Zhang and Yong Chen
    </li>
    <li><b>Generalized pyramidal tours for the Generalized Traveling Salesman Problem</b><br>Michael Khachay and
        Katherine Neznakhina
    </li>
    <li><b>Perspectives of Big Data Analysis in Urban Railway Planning: Shenzhen Metro Case Study</b><br>Keke
        Peng, Caiwei Yuan and Wen Xu
    </li>
    <li><b>Cloning Automata: Simulation and Analysis of Computer Bacteria</b><br>Chu Chen, Zhenhua Duan and Cong
        Tian
    </li>
    <li><b>The 2-Median Problem on Cactus Graphs with Positive and Negative Weights</b><br>Bai Chunsong and Kang
        Liying
    </li>
    <li><b>Research on Arrival Integration method for Point Merge System in Tactical Operation</b><br>Yannan Qi,
        Xinglong Wang and Chen Chen
    </li>
    <li><b>Repair Position Selection for Inconsistent Data</b><br>Xianmin Liu, Yingshu Li and Jianzhong Li</li>
    <li><b>The eigen-distribution of weighted game trees</b><br>Shohei Okisaka, Weiguang Peng, Wenjuan Li and
        Kazuyuki Tanaka
    </li>
    <li><b>Unbounded One-Way Trading on Distributions with Monotone Hazard Rate</b><br>Francis Chin, Francis
        Lau, Hing-Fung Ting, Haisheng Tan and Yong Zhang
    </li>
    <li><b>The Coloring Reconfiguration Problem on Specific Graph Classes</b><br>Tatsuhiko Hatanaka, Takehiro
        Ito and Xiao Zhou
    </li>
    <li><b>On Adaptive Bitprobe Schemes for Storing Two Elements</b><br>Deepanjan Kesh</li>
    <li><b>Cost-Sharing Mechanisms for Selfish Bin Packing</b><br>Chenhao Zhang and Guochuan Zhang</li>
    <li><b>Generalized Bidirectional Limited Magnitude Error Correcting Code for MLC Flash Memories</b><br>Akram
        Hussain, Xinchun Yu and Yuan Luo
    </li>
    <li><b>On the Profit-Maximizing for Transaction Platforms in Crowd Sensing</b><br>Xi Luo, Jialiang Lu,
        Guangshuo Chen, Linghe Kong and Minyou Wu
    </li>
    <li><b>Algorithms for the Ring Star Problem</b><br>Xujin Chen, Xiaodong Hu, Zhongzheng Tang, Chenhao Wang
        and Ying Zhang
    </li>
    <li><b>A New Approximation Algorithm for the Maximum Stacking Base Pairs Problem from RNA Secondary
            Structures Prediction</b><br>Aizhong Zhou, Haitao Jiang, Jiong Guo and Daming Zhu
    </li>
    <li><b>A Simple Greedy Algorithm for the Profit-aware Social Team Formation Problem</b><br>Shengxin Liu and
        Chung Keung Poon
    </li>
    <li><b>Price Fluctuation in Online Leasing</b><br>Christine Markarian, Björn Feldkord and Friedhelm Meyer
        Auf der Heide
    </li>
    <li><b>On the Complexity of Robust Stable Marriage</b><br>Begum Genc, Gilles Simonin, Mohamed Siala and
        Barry O'Sullivan
    </li>
    <li><b>Longest Previous non-overlapping Factors Table Computation</b><br>Supaporn Chairungsee and Maxime
        Crochemore
    </li>
    <li><b>Modeling and Verifying Multi-Core Programs</b><br>Nan Zhang and Zhenhua Duan</li>
    <li><b>Hamiltonian cycles in covering graphs of trees</b><br>Hiroshi Nishiyama, Lasislav Stacho and Pavol
        Hell
    </li>
    <li><b>A Memetic Algorithm for the Linear Ordering Problem with Cumulative Costs</b><br>Taoqing Zhou,
        Zhipeng Lü, Tao Ye and Kan Zhou
    </li>
    <li><b>Improved Branching Algorithm for \((n,3)\)-<span style="font-variant: small-caps;">MaxSAT</span> Based on Refined Observations</b><br>Wenjun
        Li, Jianxin Wang, Chao Xu and Yongjie Yang
    </li>
    <li><b>Doctor Rostering in Compliance with the New UK Junior Doctor Contract</b><br>Anna Lavygina,
        Kristopher Welsh and Alan Crispin
    </li>
    <li><b>On k-Strong Conflict--Free Multicoloring</b><br>Luisa Gargano, Adele Rescigno and Ugo Vaccaro</li>
    <li><b>Bounds for Static Black-Peg AB Mastermind</b><br>Christian Glazik, Gerold Jäger, Jan Schiemann and
        Anand Srivastav
    </li>
    <li><b>Graph Editing to a Given Neighbourhood Degree List is Fixed-Parameter Tractable</b><br>Naomi
        Nishimura and Vijay Subramanya
    </li>
    <li><b>Approximating \(k\)-Forest with Resource Augmentation: A Primal-Dual Approach</b><br>Eric Angel, Kim
        Thang Nguyen and Shikha Singh
    </li>
    <li><b>Parameterized Approximation Algorithms for some Location Problems in Graphs</b><br>Arne Leitert and
        Feodor Dragan
    </li>
    <li><b>Tropical paths in vertex-colored graphs</b><br>Johanne Cohen, Giuseppe F. Italiano, Yannis
        Manoussakis, Kim Thang Nguyen and Hong Phong Pham
    </li>
    <li><b>A new graph parameter to measure linearity</b><br>Pierre Charbit, Michel Habib, Lalla Mouatadid and
        Reza Naserasr
    </li>
    <li><b>Planar Vertex-Disjoint Cycle Packing: New Structures and Improved Kernel</b><br>Qilong Feng, Xiaolu
        Liao and Jianxin Wang
    </li>
    <li><b>The Cop Number of the One-Cop-Moves Game on Planar Graphs</b><br>Ziyuan Gao and Boting Yang</li>
    <li><b>Touring Convex Polygons In Polygonal Domain Fences</b><br>Amirhossein Mozafari, Alireza Zarei and
        Arash Ahadi
    </li>
    <li><b>Listing acyclic sbugraphs and subgraphs of bounded girth in directed graphs</b><br>Alessio Conte,
        Kurita Kazuhiro, Kunihiro Wasa and Takeaki Uno
    </li>
    <li><b>On Structural Parameterizations of the Matching Cut Problem</b><br>N R Aravind, Subrahmanyam
        Kalyanasundaram and Anjeneya Swami Kare
    </li>
    <li><b>The Price of Anarchy in Two-Stage Scheduling Games</b><br>Deshi Ye, Lin Chen and Guochuan Zhang</li>
    <li><b>The Spectral Radius and Domination Number of Uniform Hypergraphs</b><br>Liying Kang, Wei Zhang and
        Erfang Shan
    </li>
    <li><b>On the Linearization of Scaffolds sharing Repeated Contigs</b><br>Mathias Weller, Annie Chateau and
        Rodolphe Giroudeau
    </li>
    <li><b>Classication Statistics in RFID Systems</b><br>Zhenzao Wen, Jiapeng Huang, Linghe Kong, Min-You Wu
        and Guihai Chen
    </li>
    <li><b>Improved Methods for Computing Distances between Unordered Trees Using Integer Programming</b><br>Eunpyeong
        Hong, Yasuaki Kobayashi and Akihiro Yamamoto
    </li>
    <li><b>Selfish Jobs with Favorite Machines: Price of Anarchy vs Strong Price of Anarchy</b><br>Cong Chen,
        Paolo Penna and Yinfeng Xu
    </li>
    <li><b>Faster algorithms for 1-mappability of a sequence</b><br>Mai Alzamel, Panagiotis Charalampopoulos,
        Costas S Iliopoulos, Solon P Pissis, Jakub Radoszewski and Wing-Kin Sung
    </li>
    <li><b>An Improved Mechanism for Selfish Bin Packing</b><br>Xin Chen, Qingqin Nong and Qizhi Fang</li>
    <li><b>Novel Scheduling for Energy Management in Microgrid</b><br>Zaixin Lu, Jd Youngs, Zhi Chen and Miao
        Pan
    </li>
    <li><b>Approximation Algorithms for Maximum Coverage with Group Budget Constraints</b><br>Longkun Guo, Min
        Li and Dachuan Xu
    </li>
    <li><b>Lexico-minimum Replica Placement in Multitrees</b><br>K. Alex Mills, R. Chandrasekaran and Neeraj
        Mittal
    </li>
    <li><b>On Interdependent Failure Resilient Multi-Path Routing in Smart Grid Communication Network</b><br>Zishen
        Yang, Donghyun Kim and Wei Wang
    </li>
    <li><b>Complexity and Online Algorithms for Minimum Skyline Coloring of Intervals</b><br>Thomas Erlebach,
        Fu-Hong Liu, Hsiang-Hsuan Liu, Mordechai Shalom, Prudence W.H. Wong and Shmuel Zaks
    </li>
    <li><b>The Euclidean Vehicle Routing Problem with Multiple Depots and Time Windows</b><br>Liang Song and
        Hejiao Huang
    </li>
    <li><b>Toward energy-efficient and robust clustering algorithm on Mobile Ad hoc Sensor Networks</b><br>Huamei
        Qi, Tailong Xiao, Anfeng Liu and Su Jiang
    </li>
    <li><b>Online Algorithms for Non-preemptive Speed Scaling on Power-Heterogeneous Processors</b><br>Aeshah
        Alsughayyir and Thomas Erlebach
    </li>
    <li><b>An efficient algorithm for judicious partition of hypergraphs</b><br>Tunzi Tan, Jihong Gui, Sainan
        Wang, Suixiang Gao and Wenguo Yang
    </li>
</ul>