<style>
    .double_name {
        margin: 0;
        display: inline-block;
    }

    .double_school {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<h2>Attendance List</h2>
<h4>Domestic Participants</h4>
<ul>
    <li>Yuehua Bu (Zhejiang Normal University)</li>
    <li>Yanxun Chang (Beijing Jiao Tong University)</li>
    <li>Xujin Chen (Institute of Mathematics and System Science, Chinese Academy of Science)</li>
    <li>Yongxi Cheng (Xi’an Jiao Tong University)</li>
    <li>Hongwei Du (Harbin Institute of Technology (Shenzhen))</li>
    <li>Qizhi Fang (Ocean University of China)</li>
    <li>Suixiang Gao (University of Chinese Academy of Science)</li>
    <li>Xiaofeng Gao (Shanghai Jiao Tong University)</li>
    <li>Tiande Guo (University of Chinese Academy of Science)</li>
    <li>Xiaodong Hu (Institute of Mathematics and System Science, Chinese Academy of Science)</li>
    <li>Hejiao Huang (Harbin Institute of Technology (Shenzhen))</li>
    <li>Rimutu Ji (Inner Mongolia University for Nationalities)</li>
    <li>Liying Kang (Shanghai University)</li>
    <li>Deying Li (Renmin University of China)</li>
    <li>Xueliang Li (Nankai University)</li>
    <li>Yusheng Li (Tongji University)</li>
    <li>Xiwen Lu (East China University of Science and Technology)</li>
    <li>
        <p class="double_name">Jinlong Shu </p>
        <p class="double_school">(Shanghai Office of Acacdemic Degrees Committee<br>East China Normal University)</p></li>
    <li>Yi Shi (Shanghai Jiao Tong University)</li>
    <li>Jixiang Meng (Xinjiang University)</li>
    <li>Zhengke Miao (Jiangsu Normal University)</li>
    <li>Haizhong Shi (School of Mathematics and Statistics, Northwest Normal University)</li>
    <li>Xiaoming Sun (Institute of Computing Technology, Chinese Academy of Science)</li>
    <li>Dianhua Wu (Guanxi Normal University)</li>
    <li>Jianliang Wu (Shandong University)</li>
    <li>Wenxun Xing (Tsinghua University)</li>
    <li>Naihua Xiu (Beijing Jiao Tong University)</li>
    <li>Dachuan Xu (Beijing University of Technology)</li>
    <li>
        <p class="double_name">Yinfeng Xu </p>
        <p class="double_school">(Donghua University<br>Xi’an Jiao Tong University)</p></li>
    <li>Wei Wang (Xi’an Jiao Tong University)</li>
    <li>Guiying Yan (Institute of Mathematics and System Science, Chinese Academy of Science)</li>
    <li>Wenguo Yang (University of Chinese Academy of Science)</li>
    <li>Jinjiang Yuan (Zhengzhou University)</li>
    <li>Guochuan Zhang (Zhejiang University)</li>
    <li>Lianzhu Zhang (Xiamen University)</li>
    <li>Shenggui Zhang (Northwestern Polytechnical University)</li>
    <li>Xiaodong Zhang (Shanghai Jiao Tong University)</li>
    <li>Zhizheng Zhang (Luoyang Normal University)</li>
    <li>Daming Zhu (Shandong University)</li>
</ul>

<h4>Overseas Participants</h4>
<ul class="test">
    <li>Zhipeng Cai (Georgia State University)</li>
    <li>Bo Chen (The University of Warwick)</li>
    <li>Weidian Dong (Georgia Southern University)</li>
    <li>Ding-Zhu Du (The University of Texas at Dallas)</li>
    <li>Xiaohua Jia (City University of Hong Kong)</li>
    <li>Minming Li (City University of Hong Kong)</li>
    <li>Yingshu Li (Georgia State University)</li>
    <li>Guohui Lin (University of Alberta)</li>
    <li>Zaixin Lu (Washington State University)</li>
    <li>Yan Shi (University of Wisconsin Platteville)</li>
    <li>Pengjun Wan (Illinois Institute of Technology)</li>
    <li>Lusheng Wang (City University of Hong Kong)</li>
    <li>Wen Xu (Texas Woman’s University)</li>
    <li>Yao Xu (University of Alberta)</li>
    <li>Shiquan Wu (AbbVie Inc., California)</li>
    <li>Weili Wu (The University of Texas at Dallas)</li>
    <li>Guoliang Xue (Arizona State University)</li>
    <li>Wenan Zang (The University of Hong Kong )</li>

</ul>