<style>
    .double_name {
        margin: 0;
        display: inline-block;
    }

    .double_school {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<h2>Attendance List</h2>
<ul>
    <li>Bin Liu (Ocean University of China)</li>
    <li>Bo Chen (The University of Warwick)</li>

    <li>Baogang Xu</li>

    <li>Chaoyuan Huang (Zhejiang Normal University)</li>
    <li>Cheng Lu (North China Electric Power University)</li>
    <li>Chenhao Wang</li>
    <li>Dachuan Xu (Beijing University of Technology)</li>
    <li>Deying Li (Renmin University of China)</li>
    <li>Dianhua Wu (Guangxi Normal University)</li>
    <li>Ding-Zhu Du (The University of Texas at Dallas)</li>
    <li>Dongmei Zhang (Shandong Jianzhu University)</li>
    <li>Erfang Shan (Shanghai University)</li>

    <li>Feifeng Zheng</li>
    <li>Guiying Yan</li>

    <li>Guochuan Zhang (Zhejiang University)</li>
    <li>Guohui Lin (University of Alberta)</li>
    <li>Guoliang Xue (Arizona State University)</li>

    <li>Haitao Jiang</li>

    <li>Haizhong Shi (School of Mathematics and Statistics, Northwest Normal University)</li>
    <li>Hejiao Huang (Harbin Institute of Technology (Shenzhen))</li>
    <li>Heng Zhang (Zhejiang Normal University)</li>

    <li>Hongmei Li</li>

    <li>Hongwei Du (Harbin Institute of Technology (Shenzhen))</li>
    <li>Huihui Zhang (Luoyang Normal University)</li>
    <li>Huijuan Wang (Qingdao University)</li>
    <li>Huili Zhang (Xi’an Jiao Tong University)</li>

    <li>Jianguo Lei</li>

    <li>Jiming Zhang</li>

    <li>Jianliang Wu (Shandong University)</li>
    <li>Jinjiang Yuan (Zhengzhou University)</li>
    <li>Jinlong Shu (Shanghai Office of Acacdemic Degrees Committee, East China Normal University)</li>
    <li>Jun Pei (Hefei University of Technology)</li>
    <li>Junlei Zhu (Zhejiang Normal University)</li>

    <li>Lianrong Pu</li>
    <li>Liangchen Li</li>

    <li>Lingchen Kong (Beijing Jiao Tong University)</li>

    <li>Lingye Wu</li>

    <li>Liya Yang (East China University of Science and Technology)</li>
    <li>Liying Kang (Shanghai University)</li>
    <li>Maggie Cheng (Missouri University of Science and Technology )</li>

    <li>Mei Lu</li>

    <li>Minming Li (City University of Hong Kong)</li>
    <li>My Thai (University of Florida)</li>
    <li>Naihua Xiu (Beijing Jiao Tong University)</li>
    <li>Peng Zhang (Shandong University)</li>
    <li>Peng-Jun Wan (Illinois Institute of Technology)</li>
    <li>Pinyan Lu (Shanghai University of Finance and Economics)</li>
    <li>Qizhi Fang (Ocean University of China)</li>
    <li>Sheng Yu (Zhongnan University of Economics and Law)</li>
    <li>Shenggui Zhang (Northwestern Polytechnical University)</li>
    <li>Shiquan Wu (AbbVie Inc., California)</li>

    <li>Shu Zhang</li>

    <li>Suixiang Gao (University of Chinese Academy of Science)</li>
    <li>Suogang Gao (Hebei Normal University)</li>

    <li>Taibo Luo</li>
    <li>Tiande Guo</li>

    <li>Wei Li (Texas Southern University)</li>
    <li>Wei Wang (Xi’an Jiao Tong University)</li>

    <li>Weifan Wang</li>

    <li>Weili Wu (The University of Texas at Dallas)</li>
    <li>Weitian Tong (Georgia Southern University)</li>

    <li>Weiya Zhong</li>

    <li>Wen Xu (Texas Woman’s University)</li>
    <li>Wenguo Yang (University of Chinese Academy of Science)</li>
    <li>Wenjie Li (Luoyang Normal University)</li>
    <li>Wenjing Liu (Ocean University of China)</li>
    <li>Wenxun Xing (Tsinghua University)</li>
    <li>Xia Hong (Luoyang Normal University)</li>
    <li>Xianyue Li (Lanzhou University)</li>
    <li>Xiaodong Hu (Institute of Mathematics and System Science, Chinese Academy of Science)</li>
    <li>Xiaodong Zhang (Shanghai Jiao Tong University)</li>
    <li>Xiaofeng Gao (Shanghai Jiao Tong University)</li>
    <li>Xiaoming Sun (Institute of Computing Technology, Chinese Academy of Science)</li>
    <li>Xiwen Lu (East China University of Science and Technology)</li>
    <li>Xujin Chen (Institute of Mathematics and System Science, Chinese Academy of Science)</li>
    <li>Yan Huang (University of North Texas)</li>
    <li>Yan Shi (University of Wisconsin-Platteville)</li>
    <li>Yanxun Chang (Beijing Jiao Tong University)</li>
    <li>Yao Xu (University of Alberta)</li>
    <li>Yi Shi (Shanghai Jiao Tong University)</li>

    <li>Yi Wang</li>
    <li>Yijing Wang</li>

    <li>Yinfeng Xu (Donghua University, Xi’an Jiao Tong University)</li>
    <li>Ying Zhao (Tsinghua University)</li>
    <li>Yingchao Zhao (Caritas Institute of Higher Education, Hong Kong)</li>
    <li>Yingshu Li (Georgia State University)</li>
    <li>Yongxi Cheng (Xi’an Jiao Tong University)</li>
    <li>Yuehua Bu (Zhejiang Normal University)</li>

    <li>Yukun Cheng</li>
    <li>Yuqing Zhu</li>

    <li>Yusheng Li (Tongji University)</li>

    <li>Zhen Lu</li>

    <li>Zhipeng Cai (Georgia State University)</li>
    <li>Zhizheng Zhang (Luoyang Normal University)</li>
    <li>Zhongnan Zhang (Xiamen University)</li>
</ul>