<div class="row">
    <div class="col-md-12">
        <h2>Best Papers Award</h2>
        <ul>
            <li>
                <p><b>Cost-Sharing Mechanisms for Selfish Bin Packing</b></p>
                <p>Chenhao Zhang and Guochuan Zhang</p>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-5">
                        <img class="center-block img-responsive thumbnail photo-cell" src="img/best_paper_award.png">
                    </div>
                    <div class="col-xs-10 col-sm-5">
                        <img class="center-block img-responsive thumbnail photo-cell" src="img/best_paper_award_1.jpg">
                    </div>
                </div>
            </li>
        </ul>
        <h3>Best Papers Runner-Up Award</h3>
        <ul>
            <li>
                <p><b>Algorithms for the Ring Star Problem</b></p>
                <p>Xujin Chen, Xiaodong Hu, Zhongzheng Tang, Chenhao Wang and Ying Zhang</p>
            </li>
            <li>
                <p><b>Approximating \(k\)-Forest with Resource Augmentation: A Primal-Dual Approach</b></p>
                <p>Eric Angel, Kim Thang Nguyen and Shikha Singh</p>
            </li>
        </ul>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-5">
                    <img class="center-block img-responsive thumbnail photo-cell" src="img/best_paper_runner_up_1.png">
            </div>
            <div class="col-xs-offset-1 col-xs-10 col-sm-5">
                    <img class="center-block img-responsive thumbnail photo-cell" src="img/best_paper_runner_up_2.png">
            </div>
            <div class="col-sm-offset-3 col-sm-6">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/best_paper_runner_up.jpg">
            </div>
        </div>
        <h3>Best Papers Finalist</h3>
        <ul>
            <li><b>The Price of Anarchy in Two-Stage Scheduling Games</b><br>Deshi Ye, Lin Chen and Guochuan Zhang</li>
            <li><b>Novel Scheduling for Energy Management in Microgrid</b><br>Zaixin Lu, Jd Youngs, Zhi Chen and Miao
                Pan
            </li>
            <li><b>On Interdependent Failure Resilient Multi-Path Routing in Smart Grid Communication Network</b><br>Zishen
                Yang, Donghyun Kim and Wei Wang
            </li>
        </ul>
        <div class="col-sm-offset-3 col-sm-6">
            <img class="center-block img-responsive thumbnail photo-cell" src="img/best_paper_finalist.jpg">
        </div>
    </div>
</div>
