<h2>Call for Papers</h2>
<p>
    The 11<sup>th</sup> Annual International Conference on Combinatorial Optimization and Applications (COCOA 2017) will
    be held during December 16 - 18, 2017, in Shanghai, China. Original research papers in the areas of combinatorial
    optimization and its applications are solicited. In addition to theoretical results, we are particularly interested
    in submissions that report on experimental and applied research of general algorithmic interest. Special
    consideration will be given to research that is motivated by real-world problems. Experimental and applied papers
    are expected to show convincingly the usefulness and efficiency of the algorithms discussed in a practical setting.
</p>

<p>The topics include, but are not limited to:</p>

<ul>
    <li>Algorithms and Data Structures</li>
    <li>Approximation Algorithms</li>
    <li>Operation Research</li>
    <li>Communication Network Optimization</li>
    <li>Energy Efficient Wireless Sensor Networks</li>
    <li>Optimal Resource Management</li>
    <li>Social Networks</li>
    <li>Complex Network Optimization</li>
    <li>Computational Algebra</li>
    <li>Computational Geometry</li>
    <li>Computational Biology</li>
    <li>Computational Financing</li>
    <li>Computational Game Theory</li>
    <li>Computational Learning Theory</li>
    <li>Computational Number Theory</li>
    <li>Bioinformatics</li>
    <li>Graph Theory</li>
    <li>Graph Search</li>
    <li>Distributed Computational Systems</li>
    <li>Urban Transportation Networks</li>
    <li>Mobile Ad Hoc Networks</li>
    <li>Scheduling</li>
</ul>

<h3>Important Dates</h3>

<ul>
    <li>
        <del>Abstract Submission Due: July 10, 2017 by 11:59:59 PM (anywhere on earth)</del>
    </li>
    <li>
        <del>Full Paper Submission Due: July 15, 2017 by 11:59:59 PM</del>
    </li>
    <li>Full Paper Submission Due: July 29, 2017 by 11:59:59 PM</li>
    <li>Notification of Acceptance: September 1, 2017</li>
    <li>Final Version Submission: September 20, 2017</li>
</ul>

<h3>Paper Submission</h3>
<p>
    The submission should contain scholarly exposition of ideas, techniques, and results, including the motivation and a
    clear comparison with related work. The length of the submission should not exceed fifteen pages in LNCS style.
    Submitted papers must describe work not previously published. They must not be submitted simultaneously to any other
    conference with refereed proceedings or to journals. We regard the following case as a simultaneous submission.
    Submission of drafts which contain essentially the same results from papers under review in other
    conferences or journals at the moment of the submission. Only electronic submission will be allowed via the Springer
    Online Conference System.
</p>
<p>The submission server is now available at
    <a target="_blank" href="https://easychair.org/conferences/?conf=cocoa2017">
        https://easychair.org/conferences/?conf=cocoa2017</a>.
</p>

<h3>Publication</h3>
<p>
    The conference proceedings will be published by Springer-Verlag in the Lecture Notes in Computer Science series.
    After the conference, selected papers will be published in special issues of journals: Algorithmica, Theoretical
    Computer Science, Journal of Combinatorial Optimization.</p>

<h3>Awards</h3>
<p>
    The Best Paper and the Best Student Paper will be awarded. A paper is eligible for the Best Student Paper if all
    authors are full-time students at the time of submission. To indicate that a submission is eligible, please add the
    phrase "Eligible for best student paper" as the last sentence in the "Abstract" field in the web form on the
    submission server.
</p>