
<div style="text-align: center">
<h2>Celebration Video</h2>

<video width="720"  controls="controls"'>
  <source src="celebration/celebration-v10.mp4">
Your browser does not support the video tag. <b>Google Chrome</b> is recommended to watch the video.
</video>
</div>