<div class="row">
    <div class="col-md-12">
        <h2>Conference Chairs</h2>

        <div class="chair-cell">
            <h4>Guihai Chen (Nanjing University, China), General Chair</h4>
            <div style="float: right">
                <img src="img/guihai.png" width="100px">
            </div>
            <p>
                Guihai Chen is a distinguished professor of Nanjing University, China. He
                earned BS. degree in computer software from Nanjing University, China, in 1984,
                ME. degree in computer applications from Southeast University, China, in 1987,
                and Ph.D. degree in computer science from the University of Hong Kong in 1997.
                He had been invited as a visiting professor by Kyushu Institute of Technology in
                Japan, University of Queensland in Australia and Wayne State University in USA.
                He has a wide range of research interests with focus on parallel computing,
                wireless networks, data centers, peer-to-peer computing, high-performance
                computer architecture and data engineering. He has published more than 400
                peer-reviewed papers, and more than 200 of them are in well-archived
                international journals such as IEEE TPDS, IEEE TC, IEEE TKDE, ACM/IEEE TON, and ACM TOSN,
                and also in well-known conference proceedings such as HPCA, MOBIHOC, INFOCOM, ICNP,
                ICDCS, CoNext, and AAAI. He has won several best paper awards including ICNP 2015 best paper
                award and DASFAA 2017 best paper award. His papers have been cited for more than 10000 times
                according to Google Scholar. He has achieved many honors and awards, including Young Teacher
                Award by Ministry of Education in 2002, Zhongchuang Software Talent Award in 2004, National
                Science Fund for Outstanding Young Scholars in 2008, Special Stipend by China Government in
                2010, and First Prize for Natural Science Award by Ministry of Education in 2015.
            </p>
        </div>

        <div class="chair-cell">
            <h4>Minyi Guo (Shanghai Jiao Tong University, China), General Chair</h4>
            <div style="float: right">
                <img src="img/minyi.png" width="100px">
            </div>
            <p>
                Minyi Guo received the BSc and ME degrees in computer science from Nanjing
                University, China, and the PhD degree in computer science from the University of
                Tsukuba, Japan. He is currently chair professor and head of the Department of
                Computer Science and Engineering, Shanghai Jiao Tong University (SJTU), China.
                Before joined SJTU, Dr. Guo had been a professor and department chair of school
                of computer science and engineering, University of Aizu, Japan. Dr. Guo received
                the national science fund for distinguished young scholars from NSFC in 2007, was
                selected in the Recruitment Program of Global Experts in China in 2010, was
                appointed as the Chief Scientist of the 973 Program in 2014, and was elevated to
                fellow of IEEE in 2017. His present research interests include big data, parallel/distributed
                computing, compiler optimizations, embedded systems, pervasive computing, and bioinformatics.
                He has more than 300 publications in majorjournals and international conferences in these areas,
                and has published 4 books written in English. He is on the editorial board of IEEE Transactions on
                Parallel and Distributed Systems and IEEE Transactions on Cloud Computing. He received 6 best
                paper awards from international conferences.
            </p>
        </div>

        <div class="chair-cell">
            <h4>Zhipeng Cai (Georgia State University, USA), Vice General Chair</h4>
            <div style="float: right">
                <img src="img/zhipeng.png" width="100px">
            </div>
            <p>
                Zhipeng Cai received his PhD and MS. degrees in the Department of
                Computing Science at University of Alberta, and BS. degree from Beijing
                Institute of Technology. China. Dr. Cai is currently an Assistant Professor in the a
                Department of Computer Science at Georgia State University. Dr. Cai's research
                areas focus on Networking, Privacy and Big data. He has published more than 50 k
                journals papers, including around 30 IEEE/ACM Transactions papers, such as
                IEEE Transactions on Knowledge and Data Engineering, IEEE Transactions on
                Dependable and Secure Computing, IEEE/ACM Transactions on Networking, IEEE
                Transactions on Mobile Computing, etc. Dr. Cai is the recipient of an NSF CAREER Award. He
                is an editor for IEEE Transactions on Knowledge and Data Engineering (TKDE), IEEE
                Transactions on Vehicular Technology (TVT), IEEE Access, and the guest editor for
                Algorithmica, Theoretical Computer Science, Journal of Combinatorial Optimization, and
                IEEE/ACM Transactions on Computational Biology and Bioinformatics. He is a senior member
                ofthe IEEE.
            </p>
        </div>

        <div class="chair-cell">
            <h4>Xiaofeng Gao (Shanghai Jiao Tong University, China), TPC Co-Chair</h4>
            <div style="float: right">
                <img src="img/xiaofeng.png" width="100px">
            </div>
            <p>
                Xiaofeng Gao is currently an Associate Professor in the Department
                Computer Science and Engineering at Shanghai Jiao Tong University, China.
                She received the B.S. degree in information and computational science from
                Nankai University, China, in 2004; the M.S. degree in operations research and
                control theory from Tsinghua University, China, in 2006; and the Ph.D. degree in
                computer science from The University of Texas at Dallas, USA, in 2010. Her
                research interests include wireless communications, data engineering, and
                combinatorial optimizations. She has published more than 120 peer-reviewed
                papers in the related area, including well-archived journals such as Theoretical
                Computer Science, Journal of Combinatorial Optimization, Journal of Global Optimization,
                IEEE/ACM Transactions on Networking, IEEE Transactions on Computers, IEEE Transactions
                on Parallel and Distributed Systems, IEEE Transactions on Mobile Computing, and IEEE
                Transactions on Knowledge and Data Engineering, and also in well-known conference
                proceedings suchas SIGKDD, INFOCOM, ICDCS. She has served on the editorial board of
                Discrete Mathematics, Algorithms and Applications, and as the Technical Program Chairs,
                Program Committees and peer reviewers for a number of international conferences and
                journals.
            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/hongwei.png" width="100px">
            </div>
            <h4>Hongwei Du (Harbin Institute of Technology, Shenzhen, China), TPC Co-Chair</h4>
            <p>
                Hongwei Du received the PhD degree (2008) from the City University of
                Hong Kong. During 2008 to 2009, he was a research fellow in City University
                of Hong Kong. After that, he went to the department of computer science of
                Illinois Institute of Technology(IIT). USA during the years of 2009 and 2010 as
                a senior research associate. In 2010, he left IIT and went to University of
                Prince Edward Island, Canada as a visiting scholar. Currently, he is the
                associate professor in the departmentof computer science and technology of
                Harbin Institute of Technology Shenzhen Graduate School. Dr. Du had been in
                published nearly 100 papers on the top conferences and journals. He is a
                senior member of IEEE and CCF.
            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/dongdong.png" width="100px">
            </div>
            <h4>Dongdong Ge (Shanghai University of Finance and Economics, China), Publicity Co-Chair</h4>
            <p>
                Dongdong Ge is a professor and the dean of Research Institute for Interdisciplinary Sciences in Shanghai
                University of Finance and Economics. He received his PhD from Stanford MS&E in 2009 under the guidance
                of Professor Yinyu Ye. His main research interests lie in large scale optimization theory and
                algorithms, and operations management. He published papers in OR and CS journals and conferences such as
                Mathematics of Operation Research, Mathematical Programming, FOGS, SODA, EC, and ICML, etc. He has been
                widely consulting for companies such as Boeing, Google, IBM, JD, SFExpress, Didi, and Netease, etc.
            </p>
        </div>

        <div class="chair-cell">
            <h4>Chenchen Wu (Tianjin University of Technology, China), Publicity Co-Chair</h4>
            <div style="float: right">
                <img src="img/chenchen.png" width="100px">
            </div>
            <p>
                Chenchen Wu is currently working in the College of Science, Tianjin
                University of Technology, China. She received the MS. degree in Operations
                Research and Cybernetics from Beijing University of Technology, China and
                the Ph. D. degree in Computational Mathematics from Nankai University,
                China. Her current research interests include Algorithm Design,
                Combinatorial Optimization, and Robust Optimization, etc. She was also a
                visiting scholar in the Department of Computing, the Hongkong Polytechnic
                University and the Faculty of Business, and University of New Brunswick,
                Canada. She has published more than 20 papers in these areas, in journals
                including Theroetical Computer Science, Journal of Global Optimization, Journal of
                Combinatorial Optimization, etc. She is also a reviewer of Theroetical Computer Science,
                Asia Pacific Journal of Operations Research, etc. She was Publicity Chair of the 21st
                International Computing and Combinatorics Conference (COCOON 2015), and organized
                the 2017 Workshop on Nonlinear Combinatorial Optimization.
            </p>
        </div>

        <div class="chair-cell">
            <h4>Fay Zhong (California State University, Easy Bay, USA), Finacial Co-Chair</h4>
            <div style="float: right">
                <img src="img/fay.png" width="100px">
            </div>
            <p>
                Dr. Jiaofei Zhong received her Ph.D. in 2012 and M.S. degree in 2010, both in Computer Science from the
                University of Texas at Dallas, USA. She was an Assistant Professor of Computer Science at University of
                Central Missouri, USA during 2012-2014. After that she went to the California State University East Bay,
                USA in 2014 as an Assistant riolubbor of Computer Science until today, Dr. Zhong has published over 30
                research articles in peer-reviewed journals and conference proceedings on wireless data broadcasting,
                data clustering analysis, social networks, bioinformatics, etc. Her research interests are in the areas
                of data engineering and information management, especially in wireless communication environment,
                including data broadcasting, vehicle ad hoc networks, and sensor database. She has served as Technical
                Program Committee (TPC) chair and TPC member, publicity chair, and financial chair of more than twelve
                international conferences, and as a peer reviewer for 35 journals and conferences. She is actively
                engaged in STEM interdisciplinary projects and curriculum development.
            </p>
        </div>

        <div class="chair-cell">
            <div style="float: right">
                <img src="img/meng.png" width="100px">
            </div>
            <h4>Meng Han (Kennesaw State University, USA), Publicity Co-Chair</h4>
            <p>
                Dr. Meng Han currently is an assistant professor of the Department of Information Technology in the
                College of Computing and Software Engineering at Kennesaw State University, USA. He got his Ph.D. in
                Computer Science from Georgia State University, USA. He is currently an ACM member, an IEEE member, and
                an IEEE COMSOC member. His research interests include big social data mining, cyber data security &
                privacy, and data-driven intelligence. He has unique experiences of the analysis towards big social
                data, cyber data and business data with academic achievements of 1 book chapter, 18 first-authored and
                14 co-authored publications in referenced international journals and conferences, among which one is
                awarded the best paper and another two are awarded best paper runner-up.
            </p>
        </div>
    </div>
</div>
</div>
