<h4 style="margin-top: 20px;">Co-Chairs of Program Committee:</h4>
<ul>
    <li>Xiaodong Hu (CAS, China)</li>
    <li>Guohui Lin (Univ. of Alberta, Canada)</li>
    <li>Guochuan Zhang (Zhejiang Univ., China)</li>
</ul>
<h4>Co-Chairs of Organizing Committee:</h4>
<ul>
    <li>Xiaofeng Gao (SHJT Univ., China)</li>
    <li>Tiande Guo (Univ. of CAS, China)</li>
    <li>Yinfeng Xu (Donghua Univ., China)</li>
    <li>Yanqin Bai (Shanghai Univ., China)</li>
</ul>