<h4 style="margin-top: 20px;">Co-Chairs of Program Committee:</h4>
<ul>
    <li>Xiaodong Hu (CAS, China)</li>
    <li>Guohui Lin (Univ. of Alberta, Canada)</li>
    <li>Guochuan Zhang (Zhejiang Univ., China)</li>
</ul>
<h4>Co-Chairs of Organizing Committee:</h4>
<ul>
    <li>Xiaofeng Gao (SHJT Univ., China)</li>
    <li>Tiande Guo (Univ. of CAS, China)</li>
    <li>Yinfeng Xu (Donghua Univ., China)</li>
    <li>Yanqin Bai (Shanghai Univ., China)</li>
</ul>
<h4>Sponsors</h4>
<div class="row sponsor-cell">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail">
                <img src="img/s1.jpg" width="140px">
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <p>
                <b>上海大学运筹与开放实验室：</b>
                在上海市第三期重点学科运筹学与控制论的支持下，2009年3月上海大学批准成立了上海大学运筹与优化开放实验室（简称开放实验室）。开放实验室的使命是搭建学科发展平台、瞄准国际前沿问题、产出标志性学术成果、提升学科竞争力和影响力、引领学科进入国际一流。开放实验室设立了学术指导委员会和研究生指导委员会，聘请了30多名国际运筹与优化领域一流学者和专家组成了学术委员会和研究生指导委员会。中国科学院院士、国际工业与应用数学联盟候选主席、 中国科学院数学与系统研究院袁亚湘院士和美国北卡州立大学Walter Clark讲座教授，上海大学名誉教授方述诚教授担任学术委员和研究生指导委员会主任。 学科学术资源中国运筹学会的中文刊《运筹学学报》与国际著名出版商-Springer、中国运筹学会、上海大学共同承办的中国运筹会会刊：Journal of the Operations Research Society of Chinese。
            </p>
        </div>
    </div>
</div>
<div class="row sponsor-cell">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail">
                <img src="img/s2.jpg" width="100px" style="margin-left: 15px;">
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <p>
                <b>上海大学理学院：</b>
                上海大学理学院是以从事现代基础科学理论及其相关应用科学技术为主的基础性、研究型学院。目前，学院现有数学系、物理系、化学系、力学系、上海市应用数学和力学研究所5个部门。其中，上海大学数学学科、物理学科、化学学科都进入ESI全球排名前1%的行列。数学系全体教职工秉承老校长钱伟长院士“理科是现代科学技术的重要基础”的教育思想，坚持以培养“厚基础、宽口径、求创新、重实践”的复合型人才为目标，着力营造浓厚的学术氛围，注重因材施教，注重对学生个性与品格、创新意识和自学能力的培养、学院鼓励教授站在课堂教学第一线为学生直接授课。
            </p>
        </div>
    </div>
</div>
<div class="row sponsor-cell">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail">
                <img src="img/s3.png" width="140px">
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <p>
                <b>上海交通大学先进网络实验室（ANL）</b>
                成立于2011年春季，拥有5名现任教师，目前拥有24名博士或硕士毕业生和40多名研究生。实验室的任务是在各种通信网络中进行原创性研究，重点是研究贡献和影响。沿着这个目标，实验室确立了许多令人兴奋的研究课题，从核心理论问题到实际应用，包括分布式网络和数据处理，无线网络结构和优化，无线网络和移动计算，物联网，传感器网络，博弈论，算法和应用等。目前的研究项目得到了许多赞助商的资助，包括中国国家科学基金会（NSF），中国教育部，中国科技部，上海市政府等。自成立以来的六年期间，实验室在著名的国际会议和期刊上发表了数百篇论文，并获得了ICNP，DASFAA和ICPADS等众多有影响力会议的最佳论文奖。由于出色的贡献，先进网络实验室获得了教育部自然科学一等奖。
            </p>
        </div>
    </div>
</div>

<div class="row sponsor-cell">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail">
                <img src="img/s4.jpg" width="100px" style="margin-left: 15px;">
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <p>
                <b>东华大学</b>
                是教育部直属、国家“211工程”、国家一流学科建设高校。经过66年的建设和发展，学校已经从建校之初的一所纺织单科院校发展成为以工为主，工、理、管、文等学科协调发展的有特色的全国重点大学。学校以习近平新时代中国特色社会主义思想为指导，坚定贯彻党和国家的教育方针，以立德树人为根本，依法自主开展人才培养、科学研究、社会服务和文化传承创新，为国家、上海和行业的经济建设和社会发展提供人才和科技支撑。
            </p>
        </div>
    </div>
</div>

<div class="row sponsor-cell">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail">
                <img src="img/s5.jpg" width="140px">
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <p>
                <b>华东师范大学数学科学学院</b>
                是我国具有重要影响的数学研究基地、人才培养基地和国家公费师范生培养基地。2017年，数学学科入选国家“一流学科”建设计划。近年来，在国际权威的ESI全球学科排名中，华师大数学学科位于全球数学学科排名的前百分之一，在国内名列前茅，在最近的一轮评估中被评为优秀学科。学院拥有国家数学学科一级博士点和数学教育博士点，数学博士后流动站，国家理科基础科学人才培养和科学研究基地，上海市核心数学与实践重点实验室，上海市首批“海外高层次人才创新创业基地”和若干个数学专门研究中心。学院根据数学学科的特点和未来发展需求，下设六个系：基础数学系、应用数学系、数学教育系、数据数学系、智能数学系和金融数学系。华东师范大学数学学科拥有最为悠久的历史，积淀了深厚的底蕴，取得了辉煌的成就。学院在新中国成立时拥有4名国家二级教授，改革开放以来培养和吸引了一批优秀的留学归国数学家，包括顶级数学家肖刚，顶级数学教育学家范良火，数学奥林匹克国家队总教练熊斌等。另外，有11名教授入选国家“千人计划”等国家级领军人才计划，6名青年学者入选“青年千人”等国家级青年人才计划。目前，学院拥有一支以多位国际著名数学家、数学教育家为领军人物，以中青年骨干数学家为主体的科研、教学队伍。
            </p>
        </div>
    </div>
</div>

<div class="row sponsor-cell">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail">
                <img src="img/s6.png" width="120px">
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <p>
                <b>上海财经大学交叉科学研究院（RIIS）：</b>
                交叉科学研究院（简称X院，网址 http://riis.shufe.edu.cn）是上海财经大学为了探索一，人工智能，大数据和算法理论等方法论；二，其与管理，金融等财经行业的交叉与融合，而成立的学术机构。X院现由毕业于斯坦福大学、康奈尔大学等海内外著名高校，来自上财信息学院、公管学院、数学学院等多个学院的十多名年轻教师组建，拥有来自斯坦福大学、芝加哥大学、普林斯顿大学、密歇根大学、纽约大学等多所世界著名高校的流动岗教授，特聘教授和固定访问教授近20人。X院致力于培养具有学术理想，探索精神和使命感的本科生和博士，以及具有独立解决复杂现实问题和强动手能力的复合型人才，在与国际顶级科研机构对接，在对人类有着重要意义的前沿问题的研究上保持国际水准的同时学以致用，服务社会，帮助政府和企业解决具有重大影响力的管理与商业问题。
            </p>
        </div>
    </div>
</div>

<div class="row sponsor-cell">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail">
                <img src="img/s7.png" width="140px">
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <p>
                <b>杉数科技：</b>
                杉数科技有限公司成立于2016年7月，总部位于北京市雍和宫77文创园，是一家基于大数据分析、为企业提供技术决策方案的服务型公司，专注于建模及优化算法，提供对海量数据的分析，可将企业面临的疑难问题转化为数学模型，在基于数据与高效的优化算法上求得解决方法，帮助企业找到最佳解决方案，为企业带来收益及成本端的显著变化。团队成员均为来自美国斯坦福的博士及Google、Uber的资深从业者。
            </p>
        </div>
    </div>
</div>