<h1>Welcome!</h1>
<h4>Scopes and Topics</h4>
<p>The International Symposium on Combinatorial Optimization (ISCO) aims for advancing and promoting the theory
    and applications of combinatorial optimization, which is an area of research at the intersection of applied
    mathematics, computer science, and operations research and which overlaps with many other areas such as
    computation complexity, computational biology, VLSI design, communication networks, and management science.
    It includes complexity analysis and algorithm design for combinatorial optimization problems, numerical experiments
    and problem discovery with applications in science and engineering.</p>
<!--<h4>Special Activity</h4>
<p>
    ISCO is dedicated to the 70th birthday of Dingzhu Du, who is a professor at Department of Computer Science,
    University of Texas at Dallas, and the founding editor-in-Chief of Journal of Combinatorial Optimization published by Springer.
</p>-->
<h4>Important Dates</h4>
<ul>
    <li>Abstract Submission: May 13, 2018</li>
    <li>Acceptance Notification: May 31, 2018</li>
    <li>Early Registration: June 10, 2018</li>
    <li>On-Site Registration: July 13, 2018</li>
    <li>Symposium Day: July 14-15, 2018</li>
</ul>

<!--<p>The 11<sup>th</sup> Annual International Conference on Combinatorial Optimization and Applications (COCOA'17)
    will be held during December 16-18, 2017, in Shanghai, China.</p>

<p>The proceedings of COCOA 2017 will be published by Springer in Lecture Notes in Computer Science (LNCS). For
    more information, please visit
    <a target="_blank" href="http://www.springer.com/cn/computer-science/lncs">
        http://www.springer.com/cn/computer-science/lncs</a>.
</p>

<p>
    The Best Paper and the Best Student Paper will be awarded. A paper is eligible for the Best Student Paper if
    all authors are full-time students at the time of submission. To indicate that a submission is eligible,
    please add the phrase "Eligible for best student paper" as the last sentence in the "Abstract" field in
    the web form on the submission server.
</p>

<p>Selected papers will be invited to special issues in <em>Algorithmica, Theoretical Computer Science and
        Journal of Combinatorial Optimization</em>.
</p>-->

<h4>Contact us</h4>
<p>Please send all concerns and questions to the ISCO email address:
    <a href="mailto:isco2018.chairs@gmail.com">isco2018.chairs@gmail.com</a>.
</p>

<div class="row">
    <div class="col-md-12">
        <h4>ISCO News</h4>
        <ul>
            <!--<li><b>12/18/2017</b>: <img width="16px" src="img/party-popper.png">
                <img width="16px" src="img/party-popper.png">
                <img width="16px" src="img/party-popper.png">
                The COCOA 2017 drew to a successful close!
            </li>
            <li><b>12/11/2017</b>: <a target="_blank" href="sponsors.html">Sponsors page</a> is online!</li>
            <li><b>12/06/2017</b>: <a target="_blank" href="program.html">Conference Program page</a> is available!</li>
            <li><b>09/12/2017</b>: <a target="_blank" href="keynote.html">Keynote Speakers page</a> is online!</li>
            <li><b>09/05/2017</b>: <a target="_blank" href="registration.html">Registration page</a> is available!</li>
            <li><b>09/05/2017</b>: <a target="_blank" href="accepted.html">Accepted papers page</a> is open!</li>
            <li><b>09/05/2017</b>: <a target="_blank" href="venue.html">Conference Venue page</a> is available!</li>
            <li><b>09/04/2017</b>: <a target="_blank" href="submission.html">Camera-Ready Submission page</a> has been
                available!
            </li>-->
            <li><b>06/20/2018</b>: <a target="_blank" href="program.html">Program page</a> is open!</li>
            <li><b>05/27/2018</b>: The accommodation fee have reduced to ¥500 per night.</li>
            <li><b>05/04/2018</b>: <a target="_blank" href="attendanceList.html">Attendance List page</a> is available!</li>
            <li><b>02/04/2018</b>: <a target="_blank" href="/">ISCO Home page</a> is online!</li>
        </ul>
    </div>
</div>
