<h1>Welcome!</h1>
<p>The 11<sup>th</sup> Annual International Conference on Combinatorial Optimization and Applications (COCOA'17)
    will be held during December 16-18, 2017, in Shanghai, China.</p>

<p>The proceedings of COCOA 2017 will be published by Springer in Lecture Notes in Computer Science (LNCS). For
    more information, please visit
    <a target="_blank" href="http://www.springer.com/cn/computer-science/lncs">
        http://www.springer.com/cn/computer-science/lncs</a>.
</p>

<p>
    The Best Paper and the Best Student Paper will be awarded. A paper is eligible for the Best Student Paper if
    all authors are full-time students at the time of submission. To indicate that a submission is eligible,
    please add the phrase "Eligible for best student paper" as the last sentence in the "Abstract" field in
    the web form on the submission server.
</p>

<p>Selected papers will be invited to special issues in <em>Algorithmica, Theoretical Computer Science and
        Journal of Combinatorial Optimization</em>.
</p>

<p>Please send all concerns and questions to the COCOA 2017 email address:
    <a href="mailto:cocoa2017.chairs@gmail.com">cocoa2017.chairs@gmail.com</a>.
</p>

<div class="row">
    <div class="col-md-12">
        <h4>COCOA News</h4>
        <ul>
            <li><b>12/18/2017</b>: <img width="16px" src="img/party-popper.png">
                <img width="16px" src="img/party-popper.png">
                <img width="16px" src="img/party-popper.png">
                The COCOA 2017 drew to a successful close!
            </li>
            <li><b>12/11/2017</b>: <a target="_blank" href="sponsors.html">Sponsors page</a> is online!</li>
            <li><b>12/06/2017</b>: <a target="_blank" href="program.html">Conference Program page</a> is available!</li>
            <li><b>09/12/2017</b>: <a target="_blank" href="keynote.html">Keynote Speakers page</a> is online!</li>
            <li><b>09/05/2017</b>: <a target="_blank" href="registration.html">Registration page</a> is available!</li>
            <li><b>09/05/2017</b>: <a target="_blank" href="accepted.html">Accepted papers page</a> is open!</li>
            <li><b>09/05/2017</b>: <a target="_blank" href="venue.html">Conference Venue page</a> is available!</li>
            <li><b>09/04/2017</b>: <a target="_blank" href="submission.html">Camera-Ready Submission page</a> has been
                available!
            </li>
        </ul>
    </div>
</div>
