<h2>Author Instructions</h2>
<p>
    Authors are required to submit their papers in the <b>Springer LNCS Format</b> with 10 point font. For more
    information, please visit
    <b>
        <a target="_blank" href="https://www.springer.com/computer/lncs?SGWID=0-164-6-793341-0">
            Information for LNCS Authors</a></b>.
</p>

<p>
    Submitted papers must describe work not previously published. They must not be submitted simultaneously to another
    conference with refereed proceedings or to a journal. We regard submission of drafts which contain the essentially
    same results from papers under review in other conferences or journals at the moment of the submission as a
    simultaneous submission.
</p>

<p>
    All submissions should be in PDF Format. Each submission can have at most <b>15 pages</b>. Once the paper is
    accepted, the additional pages in the camera-ready version wil be charged <b>$100</b> (discounted) per page.
    Questions about the submission process should be directed to Program Chairs.
</p>

<p>
    Submission:
    <a target="_blank" href="https://easychair.org/conferences/?conf=cocoa2017">
        please click here to submit your paper</a>.
</p>