<div class="row">
    <div class="col-md-12">
        <h2>Moments</h2>
        <h3>Opening Ceremony</h3>
        <div class="row">
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/opening-1.jpg">
            </div>
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/opening-2.jpg">
            </div>
        </div>

        <h3>Keynote - Dr. Kazuo Iwama</h3>
        <div class="row">
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/keynote/iwama/1.jpg">
            </div>
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/keynote/iwama/2.jpg">
            </div>
        </div>

        <h3>Keynote - Dr. Ding-Zhu Du</h3>
        <div class="row">
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/keynote/dingzhu/1.jpg">
            </div>
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/keynote/dingzhu/2.jpg">
            </div>
        </div>

        <h3>Keynote - Dr. Simai He</h3>
        <div class="row">
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/keynote/simai/1.jpg">
            </div>
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/keynote/simai/2.jpg">
            </div>
        </div>

        <h3>Cruise</h3>
        <div class="row">
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/cruise/1.jpeg">
            </div>
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/cruise/2.jpeg">
            </div>
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/cruise/3.jpeg">
            </div>
            <div class="col-sm-4 col-xs-3">
                <img class="center-block img-responsive thumbnail photo-cell" src="img/cruise/4.jpeg">
            </div>
        </div>

        <h3>Session</h3>
        <p>Click <a target="_blank" href="file/cocoa_2017_sessions_photos.tar">here</a> to download the moments of all sessions.</p>
    </div>
</div>
