<h2>Organizing Committee</h2>
<ul>
    <li>
        <h5>Co-Chairs:</h5>
        <ul>
            <li>Xiaofeng Gao (SHJT Univ., China)</li>
            <li>Tiande Guo (Univ. of CAS, China)</li>
            <li>Yinfeng Xu (Donghua Univ., China)</li>
        </ul>
    </li>
    <!--<li>
        <h5>General Chairs:</h5>
        <ul>
            <li><a target="_blank" href="https://cs.nju.edu.cn/gchen/">Guihai Chen</a> (Nanjing University,
                China)
            </li>
            <li><a target="_blank" href="http://www.cs.sjtu.edu.cn/~guo-my/">Minyi Guo</a> (Shanghai Jiao Tong
                University,
                China)
            </li>
        </ul>
    </li>
    <li>
        <h5>Vice General Chair:</h5>
        <ul>
            <li><a target="_blank" href="https://grid.cs.gsu.edu/~zcai/">Zhipeng Cai</a> (Georgia State
                University, USA)
            </li>
        </ul>
    </li>
    <li>
        <h5>TPC Co-Chairs:</h5>
        <ul>
            <li><a target="_blank" href="http://www.cs.sjtu.edu.cn/~gao-xf/">Xiaofeng Gao</a> (Shanghai Jiao
                Tong
                University, China)
            </li>
            <li><a target="_blank" href="http://www.hitsz.edu.cn/body/shizi/detailen.php?strID=604">Hongwei
                    Du</a> (Harbin
                Institute of Technology, Shenzhen, China)
            </li>
        </ul>
    </li>
    <li>
        <h5>Publicity Co-Chairs:</h5>
        <ul>
            <li><a target="_blank" href="http://riis.shufe.edu.cn/index.php/people/faculty/dongdong-ge">Dongdong
                    Ge</a>
                (Shanghai University of Finance and Economics, China)
            </li>
            <li><a target="_blank" href="https://www.linkedin.com/in/%E6%99%A8%E6%99%A8-%E5%90%B4-58b180141">Chenchen
                    Wu</a> (Tianjin University of Technology, China)
            </li>
        </ul>
    </li>
    <li>
        <h5>Financial Chair:</h5>
        <ul>
            <li><a target="_blank" href="http://www.csueastbay.edu/directory/profiles/cs/zhongfay.html">Fay
                    Zhong</a>
                (California State University, East Bay, USA)
            </li>
        </ul>
    </li>
    <li>
        <h5>Publication Chair:</h5>
        <ul>
            <li><a target="_blank" href="http://facultyweb.kennesaw.edu/mhan9/index.php">Meng Han</a> (Kennesaw
                State University, USA)
            </li>
        </ul>
    </li>
    <li>
        <h5>Web Chair:</h5>
        <ul>
            <li><a target="_blank" href="http://tianshilei.me">Shilei Tian</a> (Shanghai Jiao Tong University,
                China)
            </li>
        </ul>
    </li>
    <li>
        <h5>Local Organization Chair:</h5>
        <ul>
            <li>Sherman Hung (Shanghai Jiao Tong University)</li>
        </ul>
    </li>
    <li>
        <h5>Staff:</h5>
        <p>
            Chao Wang, Chenlin Liu, Gehua Qin, Guanhao Wu, Hao Zhou, Jiahao Fan, Jianhui Wang, Junwei Liu, Lei Jiang,
            Mingding Liao, Shuang Wu, Tianxiang Gao, Xinjian Luo, Xinyu Wu, Yin Lin, Yuanning Gao, Yuchen Xia, etc.
            (Shanghai Jiao Tong University)
        </p>
    </li>-->
</ul>