<div class="row">
    <div class="col-md-12">
        <h2>Conference Photos</h2>
        <div>
            <a target="_blank" href="img/conference_photo.jpg">
                <img class="img-responsive center-block" src="img/conference_photo.jpg">
            </a>
        </div>
        <div>
            <h4>Names
                <small>(From left to right, bottom to top)</small>
            </h4>
            <p>
                <b>Row 1:</b> Xiaofeng Gao, Xiwen Lu, Xiaodong Hu, Yinfeng Xu, Weili Wu, Ding-Zhu Du, Guoliang Xue, My Thai,
                xxx, Jinlong Shu
            </p>
            <p>
                <b>Row 2:</b> Mingding Liao, Xujin Chen, Yingchao Zhao, Yukun Cheng, Liying Kang, Deying Li, Linda Du, Jinjiang Yuan,
                Shiquan Wu, Yuqing Zhu, Yao Xu, Shu Zhang, Lianrong Pu, Quanquan Chu
            </p>
            <p>
                <b>Row 3:</b> Zhiyao Li, Hongmei Li, Sheng Yu, Huili Zhang, Xia Hong, Huihui Zhang, xxx, Weiya Zhong, Hejiao Huang,
                Yan Shi, Dongmei Zhang, Yan Huang, Leijun Zhu, Liangchen Li, Junwei Lu
            </p>
            <p>
                <b>Row 4:</b> Yuanning Gao, Heng Zhang, Minming Li, Dianhua Wu, Shenggui Zhang, Qizhi Fang, Yuehua Bu, Weitian Tong,
                Guohui Lin, Suixiang Gao, Chaoyuan Huang
            </p>
            <p>
                <b>Row 5:</b> Dachuan Xu, Weifan Wang, Jianguo Lei, Suogang Gao, Erfang Shan, Hongwei Du, Peng Zhang, Wenguo Yang, Xiaoming Sun,
                Taibo Luo, Hao Zhou
            </p>
            <p>
                <b>Row 6:</b> Zhongnan Zhang, Shituo Han, xxx, Changhong Lv, Yanxun Chang, Wei Wang, Haitao Jiang, Xiaodong Zhang,
                xxx, Wenxun Xing, Wenjie Li, Chenhao Wang, Jie Xue
            </p>
            <p>
                <b>Row 7:</b> Xianyue Li, Zhizheng Zhang, Ying Zhao, Wenjing Liu, Bin Liu, Guochuan Zhang, Cheng Lu, Feifeng Zheng,
                Yi Shi, Yongxi Cheng, Yuchen Xia
            </p>
            <!--<p><b>Row 1:</b> NGUYEN KIM THANG, EVERETT ZHU, YI ZHANG, KEKE PENG, HIROSHI NISHIYAMA, GLEB POLEVOY,
                XIAOFENG GAO, GUIHAI CHEN, GUOHUI LIN, YANNIS MANOUSSAKIS, THOMAS ERLEBACH, ARNE LEITEVT, NAN ZHANG,
                BETHANG CHAN</p>
            <p><b>Row 2:</b> MINGDING LIAO, CHAO WANG, SHUANG WU, LEI JIANG, SHERMAN HUNG, WENJUN LI, MICHAEL KHACHAY,
                ZHIPENG CAI, KAZUO IWAMA, NING DING, SHILEI TIAN, CHENCHEN WU, JUNWEI LU</p>
            <p><b>Row 3:</b> TAOQING ZHOU, CHUNSONG BAI, DESHI YE, YONG ZHANG, BOTING YANG, JAKUB RADOSZEWSKI, BIN LIN,
                XIN CHEN, UGO VACCARO, DONGMEI ZHANG, CHRISTOPHE CRESPELLE, AIZHONG ZHOU, YUCHEN XIA</p>
            <p><b>Row 4:</b> VIET HUNG NGUYEN, SHAHZAD BHATTI, KUNIHIRO WASA, YASUAKI KOBAYASH, AKRAM HUASSIN, CONG
                CHEN, TUNZI TAN, LEO LIANG, XIWEN LU, XIANYUE LI, NEERAJ MITTAL, FRANCIS Y.L. CHIN</p>
            <p><b>Row 5:</b> CHENHAO WANG, TATSUHIKO HATANAKA, JIALIANG LU, RONGQI LI, HU DING, BJORN FELDKORD, WEI
                WANG, QIANPING GU, GUOCHUAN ZHANG, DACHUAN XU, ZISHEN YANG, BO DENG, SHOHEI OKISAKA</p>
            <p><b>Row 6:</b> AKBAR MAJIDI, XIAO ZHOU, LEI ZHANG, SHINICHI NAKANO, KAZUHIRO KARITA, VIJAY SUBRAMANYA,
                CHRISTIAN GLAZIK, KAI YANG, CHU CHEN, YONG CHEN, XIAOFEI LIU, QILONG FENG</p>-->
            <p><small>* If you find any error, please contact us.</small></p>
        </div>
    </div>
</div>
