<h2>Online Proceedings</h2>
<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                <a target="_blank" href="https://link.springer.com/book/10.1007%2F978-3-319-71150-8">
                    11th International Conference, COCOA 2017, Shanghai, China, December 16-18, 2017, Proceedings, Part
                    I
                </a>
            </li>
            <li>
                <a target="_blank" href="https://link.springer.com/book/10.1007%2F978-3-319-71147-8">
                    11th International Conference, COCOA 2017, Shanghai, China, December 16-18, 2017, Proceedings, Part
                    II
                </a>
            </li>
        </ul>
    </div>
</div>