<h2>Program Committee</h2>
<ul>
    <li>Bin Fu (University of Texas-Rio Grande Valley, United States)</li>
    <li>Bin Ma (University of Waterloo, Canada)</li>
    <li>Boting Yang (University of Regina, Canada)</li>
    <li>Chihao Zhang (The Chinese University of Hong Kong, Hong Kong)</li>
    <li>Donghyun Kim (Kennesaw State University, United States)</li>
    <li>Erfang Shan (Shanghai University, China)</li>
    <li>Gerhard Woeginger (Eindhoven University of Technology, Netherland)</li>
    <li>Gruia Calinescu (Illinois Institute of Technology, United States)</li>
    <li>Guohui Lin (University of Alberta, Canada)</li>
    <li>Haipeng Dai (Nanjing University, China)</li>
    <li>Hejiao Huang (Harbin Institute of Technology Shenzhen, China)</li>
    <li>Hsu-Chun Yen (National Taiwan University, Taiwan)</li>
    <li>Huacheng Yu (Stanford University, California, USA)</li>
    <li>Hubert Chan (University of Hong Kong, China)</li>
    <li>Jie Hu (Wuhan University, China)</li>
    <li>Jing Chen (Stony Brook University, United States)</li>
    <li>Juraj Hromkovic (ETH Zurich, Switzerland)</li>
    <li>Kazuo Iwama (Kyoto University, Japan)</li>
    <li>Kun-Mao Chao (National Taiwan University, Taiwan)</li>
    <li>Minming Li (City University of Hong Kong, Hong Kong)</li>
    <li>Mitsunori Ogihara (University of Miami, United States)</li>
    <li>Naoki Katoh (Kwansei Gakuin University, Japan)</li>
    <li>Neng Fan (University of Arizona, United States)</li>
    <li>Ovidiu Daescu (University of Texas at Dallas, United States)</li>
    <li>Pinar Heggernes (University of Bergen, Norway)</li>
    <li>Qianping Gu (Simon Fraser University, Canada)</li>
    <li>Rajesh Chitnis (Weizmann Institute of Science, Israel)</li>
    <li>Sheung-Hung Poon (Brunei Technological University, Brunei Darussalam)</li>
    <li>Stanley Fung (University of Leicester, United Kingdom)</li>
    <li>Sun-Yuan Hsieh (National Cheng Kung University, Taiwan)</li>
    <li>Thang Dinh (Virginia Commonwealth University, United States)</li>
    <li>Thomas Erlebach (University of Leicester, United Kingdom)</li>
    <li>Vincent Chau (Hong Kong Baptist University, Hong Kong)</li>
    <li>Wolfgang Bein (University of Nevada, United States)</li>
    <li>Xianmin Liu (Harbin Institute of Technology, China)</li>
    <li>Xianyue Li (Lan Zhou University, China)</li>
    <li>Xiaohui Bei (Nanyang Technological University, Singapore)</li>
    <li>Xiaowei Wu (The University of Hong Kong, Hong Kong)</li>
    <li>Xiaowen Liu (Indiana University-Purdue University Indianapolis, United States)</li>
    <li>Xujin Chen (Academy of Mathematics and Systems Science, China)</li>
    <li>Yuqing Zhu (California State University, United States)</li>
    <li>Zhao Zhang (Zhejiang Normal University, China)</li>
    <li>Zhenhua Duan (Xidian University, China)</li>
</ul>