<div class="row">
    <div class="col-md-12">
        <h2>Conference Program <small><a href="file/program.pdf">Detailed Booklet <img src="img/pdf.png" width="20px"></a></small></h2>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <!-- Registration Day-->
        <table class="table table-bordered table-condensed text-center">
            <thead>
            <tr>
                <th colspan="3">COCOA 2017 Registration Day (December 15th, 2017)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="20%">14:00 - 18:00</td>
                <td colspan="3">Registration (Lobby, 1F)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Day 1-->
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table table-bordered table-condensed text-center">
            <thead>
            <tr>
                <th colspan="3">COCOA 2017 Conference Day 1 (December 16th, 2017)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="20%">8:30 - 18:00</td>
                <td colspan="3">Registration (Lobby, 1F)</td>
            </tr>
            <tr>
                <td>8:45 - 09:00</td>
                <td colspan="3">
                    Opening Ceremony<br>
                    Prof. Minyi Guo, Prof. Guihai Chen<br>
                    (GRAND BALLROOM B, 九州厅 B, 4F)
                </td>
            </tr>
            <tr>
                <td>9:00 - 09:30</td>
                <td colspan="3">
                    Photo
                </td>
            </tr>
            <tr>
                <td>9:30 - 10:30</td>
                <td colspan="3">
                    Keynote Speech: Narrowing (Already) Small Complexity Gaps<br>
                    Speaker: Dr. Kazuo Iwama (Kyoto University, Japan)<br>
                    Chair: Xiwen Lu<br>
                    (GRAND BALLROOM B, 九州厅 B, 4F)
                </td>
            </tr>
            <tr>
                <td>10:30 - 10:50</td>
                <td colspan="3">Coffee Break</td>
            </tr>
            <tr>
                <td>10:50 - 12:30</td>
                <td colspan="3">
                    Session 1: Game Theory<br>
                    Chair: Thomas Erlebach<br>
                    (GRAND BALLROOM B, 九州厅 B, 4F)
                </td>
            </tr>
            <tr>
                <td>12:30 - 13:40</td>
                <td colspan="3">Lunch</td>
            </tr>
            <tr>
                <td>13:40 - 15:20</td>
                <td width="40%">
                    Session 2: Graph Theory<br>
                    Chair: Xiao Zhou<br>
                    (PLUM BLOSSOM, 梅花厅, 4F)
                </td>
                <td>
                    Session 3: Combinatorial Optimization<br>
                    Chair: Guochuan Zhang<br>
                    (PEONY, 牡丹厅, 4F)
                </td>
            </tr>
            <tr>
                <td>15:20 - 15:50</td>
                <td colspan="3">Coffee Break</td>
            </tr>
            <tr>
                <td>15:50 - 17:50</td>
                <td>
                    Session 4: Approximation Algorithm<br>
                    Chair: Michael Khachay<br>
                    (PLUM BLOSSOM, 梅花厅, 4F)
                </td>
                <td>
                    Session 5: Combinatorial Optimization<br>
                    Chair: Viet Hung Nguyen<br>
                    (PEONY, 牡丹厅, 4F)
                </td>
            </tr>
            <tr>
                <td>18:20</td>
                <td colspan="3">
                    Banquet<br>
                    (CTC RESTAURANT, 3F)
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <!--Day 2-->
        <table class="table table-bordered table-condensed text-center">
            <thead>
            <tr>
                <th colspan="3">COCOA 2017 Conference Day 2 (December 17th, 2017)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="20%">9:00 - 10:00</td>
                <td colspan="3">
                    Keynote Speech: Maximization of Multi-Factor Influence<br>
                    Speaker: Dr. Ding-Zhu Du (University of Texas at Dallas, USA) <br>
                    Chair: Dachuan Xu<br>
                    (GRAND BALLROOM B, 九州厅 B, 4F)
                </td>
            </tr>
            <tr>
                <td>10:00 - 10:20</td>
                <td colspan="3">Coffee Break</td>
            </tr>
            <tr>
                <td>10:20 - 11:20</td>
                <td colspan="3">
                    Keynote Speech: A Non-Asymptotic Approach to Analyze Kidney Exchange Graphs<br>
                    Speaker: Dr. Simai He (Shanghai University of Finance and Economics, China)<br>
                    Chair: Xianmin Liu<br>
                    (GRAND BALLROOM B, 九州厅 B, 4F)
                </td>
            </tr>
            <tr>
                <td>11:20 - 12:30</td>
                <td colspan="3">Lunch</td>
            </tr>
            <tr>
                <td>12:30 - 14:10</td>
                <td width="40%">
                    Session 6: Combinatorial Optimization<br>
                    Chair: Alireza Zarei<br>
                    (PLUM BLOSSOM, 梅花厅, 4F)
                </td>
                <td>
                    Session 7: Application<br>
                    Chair: Ugo Vaccaro<br>
                    (PEONY, 牡丹厅, 4F)
                </td>
            </tr>
            <tr>
                <td>14:10 - 14:30</td>
                <td colspan="3">Coffee Break</td>
            </tr>
            <tr>
                <td>14:30 - 16:30</td>
                <td>
                    Session 8: Network<br>
                    Chair: Neeraj Mittal<br>
                    (PLUM BLOSSOM, 梅花厅, 4F)
                </td>
                <td>
                    Session 9: Graph Theory<br>
                    Chair: Qianping Gu<br>
                    (PEONY, 牡丹厅, 4F)
                </td>
            </tr>
            <tr>
                <td>17:00 -</td>
                <td colspan="3">
                    Cruise Buffet (Huangpu River)<br>
                    (Assemble in Jianguo Hotel Lobby at 17:00)<br>
                    Sponsor: <a target="_blank" href="https://www.shanshu.ai">Cardinal Operations</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <!--Day 3-->
        <table class="table table-bordered table-condensed text-center">
            <thead>
            <tr>
                <th colspan="3">COCOA 2017 Conference Day 3 (December 18th, 2017)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="20%">09:00 - 10:40</td>
                <td>
                    Session 10: Combinatorial Optimization<br>
                    Chair: Yannis Manoussakis<br>
                    (PLUM BLOSSOM, 梅花厅, 4F)
                </td>
                <td>
                    Session 11: Application<br>
                    Chair: Francis Y.L. Chin<br>
                    (PEONY, 牡丹厅, 4F)
                </td>
            </tr>
            <tr>
                <td>10:40 - 11:00</td>
                <td colspan="3">Coffee Break</td>
            </tr>
            <tr>
                <td>11:00 - 12:20</td>
                <td>
                    Session 12: Demo and Application (Fast Track)<br>
                    Chair: Xiaofei Liu<br>
                    (PLUM BLOSSOM, 梅花厅, 4F)
                </td>
                <td>
                    Session 13: Demo and Application (Fast Track)<br>
                    Chair: Boting Yang<br>
                    (PEONY, 牡丹厅, 4F)
                </td>
            </tr>
            <tr>
                <td>12:20 - 14:00</td>
                <td colspan="3">Lunch</td>
            </tr>
            <tr>
                <td>14:00 - 18:00</td>
                <td colspan="3">
                    Workshop: Network Computing and its Application<br>
                    Chair: Yuan Luo<br>
                    (PEONY, 牡丹厅, 4F)
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--Session 1-->
        <h5>Session 1 Game Theory, Chair: Thomas Erlebach
            <small>(100 Minutes 5 Papers)</small>
        </h5>
        <ol>
            <li><b>An Improved Mechanism for Selfish Bin Packing</b><br>Xin Chen, Qingqin Nong and Qizhi Fang</li>
            <li><b>Cost-Sharing Mechanisms for Selfish Bin Packing</b><br>Chenhao Zhang and Guochuan Zhang</li>
            <li><b>The Eigen-Distribution of Weighted Game Trees</b><br>Shohei Okisaka, Weiguang Peng, Wenjuan Li and
                Kazuyuki Tanaka
            </li>
            <li><b>The Price of Anarchy in Two-Stage Scheduling Games</b><br>Deshi Ye, Lin Chen and Guochuan Zhang</li>
            <li><b>Selfish Jobs with Favorite Machines: Price of Anarchy vs Strong Price of Anarchy</b><br>Cong Chen,
                Paolo Penna and Yinfeng Xu
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--Session 2-->
        <h5>Session 2 Graph Theory, Chair: Xiao Zhou
            <small>(100 Minutes 5 Papers)</small>
        </h5>
        <ol>
            <li><b>Complexity and Online Algorithms for Minimum Skyline Coloring of Intervals</b><br>Thomas Erlebach,
                Fu-Hong Liu, Hsiang-Hsuan Liu, Mordechai Shalom, Prudence W.H. Wong and Shmuel Zaks
            </li>
            <li><b>Listing Acyclic Subgraphs and Subgraphs of Bounded Girth in Directed Graphs</b><br>Alessio Conte,
                Kurita Kazuhiro, Kunihiro Wasa and Takeaki Uno
            </li>
            <li><b>The Cop Number of the One-Cop-Moves Game on Planar Graphs</b><br>Ziyuan Gao and Boting Yang</li>
            <li><b>The Spectral Radius and Domination Number of Uniform Hypergraphs</b><br>Liying Kang, Wei Zhang and
                Erfang Shan
            </li>
            <li><b>The 2-Median Problem on Cactus Graphs with Positive and Negative Weights</b><br>Bai Chunsong and Kang
                Liying
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--Session 3-->
        <h5>Session 3 Combinatorial Optimization, Chair: Guochuan Zhang
            <small>(100 Minutes 5 Papers)</small>
        </h5>
        <ol>
            <li><b>Generalized pyramidal tours for the Generalized Traveling Salesman Problem</b><br>Michael Khachay and
                Katherine Neznakhina
            </li>
            <li><b>Improved Branching Algorithm for \((n,3)\)-<span style="font-variant: small-caps;">MaxSAT</span>
                    Based on Refined Observations</b><br>Wenjun Li, Jianxin Wang, Chao Xu and Yongjie Yang
            </li>
            <li><b>New Insights for Power Edge Set Problem</b><br>Benoit Darties, Annie Chateau, Rodolphe Giroudeau and
                Mathias Weller
            </li>
            <li><b>On the Complexity of Detecting \(k\)-Length Negative Cost Cycles</b><br>Longkun Guo and Peng Li</li>
            <li><b>An Efficient Primal-Dual Algorithm for Fair Combinatorial Optimization Problems</b><br>Viet Hung
                Nguyen and Paul Weng
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--Session 4-->
        <h5>Session 4 Approximation Algorithm, Chair: Michael Khachay
            <small>(120 Minutes 6 Papers)</small>
        </h5>
        <ol>
            <li><b>Approximation Algorithms for Maximum Coverage with Group Budget Constraints</b><br>Longkun Guo, Min
                Li and Dachuan Xu
            </li>
            <li><b>A Spectral Partitioning Algorithm for Maximum Directed Cut Problem</b><br>Zhenning Zhang, Donglei Du,
                Chenchen Wu, Dachuan Xu and Dongmei Zhang
            </li>
            <li><b>Approximating \(k\)-Forest with Resource Augmentation: A Primal-Dual Approach</b><br>Eric Angel, Kim
                Thang Nguyen and Shikha Singh
            </li>
            <li><b>Better Approximation Ratios for the Single-Vehicle Scheduling Problems on Tree/Cycle Networks</b><br>Yuanxiao
                Wu and Xiwen Lu
            </li>
            <li><b>Parameterized Approximation Algorithms for Some Location Problems in Graphs</b><br>Arne Leitert and
                Feodor Dragan
            </li>
            <li><b>Efficient Algorithms for Ridesharing of Personal Vehicles</b><br>Qianping Gu, Leo Jiajian Liang and
                Guochuan Zhang
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--Session 5-->
        <h5>Session 5 Combinatorial Optimization, Chair: Viet Hung Nguyen
            <small>(120 Minutes 6 Papers)</small>
        </h5>
        <ol>
            <li><b>A New Graph Parameter to Measure Linearity</b><br>Pierre Charbit, Michel Habib, Lalla Mouatadid and
                Reza Naserasr
            </li>
            <li><b>Faster and Enhanced Inclusion-Minimal Cograph Completion</b><br>Christophe Crespelle, Daniel
                Lokshtanov, Thi Ha Duong Phan and Eric Thierry
            </li>
            <li><b>Graph Editing to a Given Neighbourhood Degree List is Fixed-Parameter Tractable</b><br>Naomi
                Nishimura and Vijay Subramanya
            </li>
            <li><b>Lexico-Minimum Replica Placement in Multitrees</b><br>K. Alex Mills, R. Chandrasekaran and Neeraj
                Mittal
            </li>
            <li><b>Structure of Towers and a New Proof of the Tight Cut Lemma</b><br>Nanao Kita</li>
            <li><b>Price Fluctuation in Online Leasing</b><br> Christine Markarian, Bjorn Feldkord and Friedhelm Meyer
                Auf der Heide
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--Session 6-->
        <h5>Session 6 Combinatorial Optimization, Chair: Alireza Zarei
            <small>(100 Minutes 5 Papers)</small>
        </h5>
        <ol>
            <li><b>Algorithms for the Ring Star Problem</b><br>Xujin Chen, Xiaodong Hu, Zhongzheng Tang, Chenhao Wang
                and Ying Zhang
            </li>
            <li><b>Floorplans with Columns</b><br>Katsuhisa Yamanaka, Md. Saidur Rahman and Shin-Ichi Nakano</li>
            <li><b>On the Profit-Maximizing for Transaction Platforms in Crowd Sensing</b><br>Xi Luo, Jialiang Lu,
                Guangshuo Chen, Linghe Kong and Minyou Wu
            </li>
            <li><b>An Efficient Algorithm for Judicious Partition of Hypergraphs</b><br>Tunzi Tan, Jihong Gui, Sainan
                Wang, Suixiang Gao and Wenguo Yang
            </li>
            <li><b>A Refined Characteristic of Minimum Contingency Set for Conjunctive Query</b><br>Dongjing Miao and
                Zhipeng Cai
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Session 7 Application, Chair: Ugo Vaccaro
            <small>(100 Minutes 5 Papers)</small>
        </h5>
        <ol>
            <li><b>Cloning Automata: Simulation and Analysis of Computer Bacteria</b><br>Chu Chen, Zhenhua Duan and Cong
                Tian
            </li>
            <li><b>Modelling and Solving Anti-aircraft Mission Planning for Defensive Missile Battalions</b><br>Trang
                Nguyen, Trung Bui, Bang Nguyen and Su Le
            </li>
            <li><b>Perspectives of Big Data Analysis in Urban Railway Planning: Shenzhen Metro Case Study</b><br>Keke
                Peng, Caiwei Yuan and Wen Xu
            </li>
            <li><b>Repair Position Selection for Inconsistent Data</b><br>Xianmin Liu, Yingshu Li and Jianzhong Li</li>
            <li><b>Unbounded One-Way Trading on Distributions with Monotone Hazard Rate</b><br>Francis Chin, Francis
                Lau, Hing-Fung Ting, Haisheng Tan and Yong Zhang
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Session 8 Network, Chair: Neeraj Mittal
            <small>(120 Minutes 6 Papers)</small>
        </h5>
        <ol>
            <li><b>A Framework for Overall Storage Overflow Problem to Maximize the Lifetime in WSNs</b><br>Guoliang
                Song, Chen Zhang, Chuang Liu and Yuna Chai
            </li>
            <li><b>A Parallel Construction of Vertex-disjoint Spanning Trees with Optimal Heights in Star
                    Networks</b><br>Shih-Shun Kao, Jou-Ming Chang, Kung-Jui Pai, Jinn-Shyong Yang, Shyue-Ming Tang and
                Ro-Yu Wu
            </li>
            <li><b>Filtering Undesirable Flows in Networks</b><br>Gleb Polevoy, Stojan Trajanovski, Paola Grosso and
                Cees de Laat
            </li>
            <li><b>Protein Mover's Distance: A Geometric Approach for Solving Global Alignment of PPI Networks</b><br>Manni
                Liu and Hu Ding
            </li>
            <li><b>On Interdependent Failure Resilient Multi-path Routing in Smart Grid Communication Network</b><br>Zishen
                Yang, Donghyun Kim and Wei Wang
            </li>
            <li><b>Toward Energy-Efficient and Robust Clustering Algorithm on Mobile Ad Hoc Sensor Networks</b><br>Huamei
                Qi, Tailong Xiao, Anfeng Liu and Su Jiang
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Session 9 Graph Theory, Chair: Qianping Gu
            <small>(120 Minutes 6 Papers)</small>
        </h5>
        <ol>
            <li><b>Conflict-Free Connection Numbers of Line Graphs</b><br>Bo Deng, Wenjing Li, Xueliang Li, Yaping Mao
                and Haixing Zhao
            </li>
            <li><b>Hamiltonian Cycles in Covering Graphs of Trees</b><br>Hiroshi Nishiyama, Lasislav Stacho and Pavol
                Hell
            </li>
            <li><b>Mixed Connectivity of Random Graphs</b><br>Ran Gu, Yongtang Shi and Neng Fan</li>
            <li><b>On \(k\)-Strong Conflict-Free Multicoloring</b><br>Luisa Gargano, Adele Rescigno and Ugo Vaccaro</li>
            <li><b>The Coloring Reconfiguration Problem on Specific Graph Classes</b><br>Tatsuhiko Hatanaka, Takehiro
                Ito and Xiao Zhou
            </li>
            <li><b>Tropical Paths in Vertex-Colored Graphs</b><br>Johanne Cohen, Giuseppe F. Italiano, Yannis
                Manoussakis, Kim Thang Nguyen and Hong Phong Pham
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Session 10 Combinatorial Optimization, Chair: Yannis Manoussakis
            <small>(100 Minutes 5 Papers)</small>
        </h5>
        <ol>
            <li><b>Faster Algorithms for 1-Mappability of A Sequence</b><br>Mai Alzamel, Panagiotis Charalampopoulos,
                Costas S Iliopoulos, Solon P Pissis, Jakub Radoszewski and Wing-Kin Sung
            </li>
            <li><b>Improved Methods for Computing Distances between Unordered Trees Using Integer Programming</b><br>Eunpyeong
                Hong, Yasuaki Kobayashi and Akihiro Yamamoto
            </li>
            <li><b>Minimizing Total Completion Time of Batch Scheduling with Nonidentical Job Sizes</b><br>Rongqi Li,
                Zhiyi Tan and Qianyu Zhu
            </li>
            <li><b>Novel Scheduling for Energy Management in Microgrid</b><br>Zaixin Lu, Jd Youngs, Zhi Chen and Miao
                Pan
            </li>
            <li><b>Touring Convex Polygons In Polygonal Domain Fences</b><br>Amirhossein Mozafari, Alireza Zarei and
                Arash Ahadi
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Session 11 Application, Chair: Francis Y.L. Chin
            <small>(100 Minutes 5 Papers)</small>
        </h5>
        <ol>
            <li><b>A Simple Greedy Algorithm for the Profit-Aware Social Team Formation Problem</b><br>Shengxin Liu and
                Chung Keung Poon
            </li>
            <li><b>Bounds for Static Black-Peg AB Mastermind</b><br>Christian Glazik, Gerold Jager, Jan Schiemann and
                Anand Srivastav
            </li>
            <li><b>Classication Statistics in RFID Systems</b><br>Zhenzao Wen, Jiapeng Huang, Linghe Kong, Min-You Wu
                and Guihai Chen
            </li>
            <li><b>Doctor Rostering in Compliance with the New UK Junior Doctor Contract</b><br>Anna Lavygina,
                Kristopher Welsh and Alan Crispin
            </li>
            <li><b>Generalized Bidirectional Limited Magnitude Error Correcting Code for MLC Flash Memories</b><br>Akram
                Hussain, Xinchun Yu and Yuan Luo
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Session 12 Demo and Application (Fast Track), Chair: Xiaofei Liu
            <small>(80 Minutes 8 Papers)</small>
        </h5>
        <ol>
            <li><b>A Local Search Approximation Algorithm for A Squared Metric \(k\)-Facility Location Problem</b><br>Dongmei
                Zhang, Dachuan Xu, Yishui Wang, Peng Zhang and Zhenning Zhang
            </li>
            <li><b>A New Approximation Algorithm for the Maximum Stacking Base Pairs Problem from RNA Secondary
                    Structures Prediction</b><br>Aizhong Zhou, Haitao Jiang, Jiong Guo and Daming Zhu
            </li>
            <li><b>Approximation Algorithms for the Generalized Stacker Crane Problem</b><br>Jianping Li, Xiaofei Liu,
                Weidong Li and Li Guan
            </li>
            <li><b>Combinatorial Approximation algorithms for Spectrum Assignment Problem in Chain and Ring Networks</b><br>Guangting
                Chen, Lei Zhang, An Zhang and Yong Chen
            </li>
            <li><b>Fast Approximation Algorithms for Computing Constrained Minimum Spanning Tree</b><br>Pei Yao and
                Longkun Guo
            </li>
            <li><b>Longest Previous non-overlapping Factors Table Computation</b><br>Supaporn Chairungsee and Maxime
                Crochemore
            </li>
            <li><b>Online Algorithms for Non-preemptive Speed Scaling on Power-Heterogeneous Processors</b><br>Aeshah
                Alsughayyir and Thomas Erlebach
            </li>
            <li><b>The Euclidean Vehicle Routing Problem with Multiple Depots and Time Windows</b><br>Liang Song and
                Hejiao Huang
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Session 13 Demo and Application (Fast Track), Chair: Boting Yang
            <small>(80 Minutes 8 Papers)</small>
        </h5>
        <ol>
            <li><b>Research on Arrival Integration method for Point Merge System in Tactical Operation</b><br>Yannan Qi,
                Xinglong Wang and Chen Chen
            </li>
            <li><b>A Memetic Algorithm for the Linear Ordering Problem with Cumulative Costs</b><br>Taoqing Zhou,
                Zhipeng Lu, Tao Ye and Kan Zhou
            </li>
            <li><b>Modeling and Verifying Multi-Core Programs</b><br>Nan Zhang and Zhenhua Duan</li>
            <li><b>On Adaptive Bitprobe Schemes for Storing Two Elements</b><br>Deepanjan Kesh</li>
            <li><b>On the Linearization of Scaffolds sharing Repeated Contigs</b><br>Mathias Weller, Annie Chateau and
                Rodolphe Giroudeau
            </li>
            <li><b>On Structural Parameterizations of the Matching Cut Problem</b><br>N R Aravind, Subrahmanyam
                Kalyanasundaram and Anjeneya Swami Kare
            </li>
            <li><b>Optimal Topology Design of High Altitude Platform based Maritime Broadband Communication Networks</b><br>Jianli
                Duan, Tiange Zhao and Bin Lin
            </li>
            <li><b>Planar Vertex-Disjoint Cycle Packing: New Structures and Improved Kernel</b><br>Qilong Feng, Xiaolu
                Liao and Jianxin Wang
            </li>
        </ol>
    </div>
</div>
