<h2>Registrations</h2>
<h3>For overseas participants:</h3>
<h4>Registration Fee: <b>RMB ¥0</b></h4>
<!--<table class="table table-bordered table-condensed text-center">
    <thead>
    <tr>
        <th class="text-center" style="width: 30%;">Registration Type</th>
        <th class="text-center" style="width: 35%;">Early Registration<br>(on or before Sep. 20th, 2017)</th>
        <th class="text-center">Late/On-Site Registration<br>(after Sep. 20th, 2017)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="text-center">Author/Full Registration</th>
        <td>USD $615</td>
        <td>USD $690</td>
    </tr>
    <tr>
        <th class="text-center">Student Registration</th>
        <td>USD $520</td>
        <td>USD $595</td>
    </tr>
    <tr>
        <th class="text-center">Extra proceedings page</th>
        <td>USD $100 per page</td>
        <td>N/A</td>
    </tr>
    </tbody>
</table>-->
<!--<h4>Payment Method</h4>
<p>
    Overseas participants, please transfer the proper and exact amount in US Dollars to the following bank
    account. Kindly take into account the charge from your bank and intermediary bank (which you may need to
    consult your finance provider).
</p>
<table class="table table-bordered">
    <tbody>
    <tr>
        <th width="30%">NAME</th>
        <td>SHANGHAI JIAOTONG UNIVERSITY</td>
    </tr>
    <tr>
        <th>A/C</th>
        <td>454659250319 </td>
    </tr>
    <tr>
        <th>BANK</th>
        <td>BANK OF CHINA (SHANGHAI GRAND GATEWAY SUB-BRANCH)</td>
    </tr>
    <tr>
        <th>BANK ADD</th>
        <td>NO,1 HONG QIAO ROAD,SHANGHAI,CHINA</td>
    </tr>
    <tr>
        <th>SWIFT CODE</th>
        <td>BKCHCNBJ300</td>
    </tr>
    <tr>
        <th>TEL</th>
        <td>+86-021-64484478</td>
    </tr>
    <tr>
        <th>POST CODE</th>
        <td>200030</td>
    </tr>
    <tr>
        <th>FAX</th>
        <td>021-64484473</td>
    </tr>
    </tbody>
</table>
<p>Note: <b>Please include "ISCO2018+attendee name" on your bank transfer.</b> Please send a
    scanned copy of the transaction receipt and registration form
    (<a href="file/registration_form.docx">registration_form.docx</a>)
    as a single zipped file to
    <a href="mailto:isco2018.chairs@gmail.com">isco2018.chairs@gmail.com</a>.
    Please make sure the compress file is named "ISCO2018_attendee name" and the email is
    entitled "ISCO2018_attendee name".
</p>-->
<p>Note: Please send registration form
    (<a href="file/registration_form.docx">registration_form.docx</a>) to
    <a href="mailto:isco2018.chairs@gmail.com">isco2018.chairs@gmail.com</a>.
    Please make sure the file is named "ISCO2018_attendee name" and the email is
    entitled "ISCO2018_attendee name".
</p>
<h3>境内参会者：</h3>
<h4>注册费用：<b>RMB ¥800</b></h4>
<!--<table class="table table-bordered table-condensed text-center">
    <thead>
    <tr>
        <th class="text-center" style="width: 30%;">注册类型</th>
        <th class="text-center" style="width: 35%;">早期注册<br>（2017 年 9 月 20 日之前）</th>
        <th class="text-center">普通/现场注册<br>（2017 年 9 月 20 日以后）</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="text-center">作者/全额注册</th>
        <td>RMB ¥4000</td>
        <td>RMB ¥4500</td>
    </tr>
    <tr>
        <th class="text-center">学生注册</th>
        <td>RMB ¥3400</td>
        <td>RMB ¥3900</td>
    </tr>
    <tr>
        <th class="text-center">超页</th>
        <td>RMB ¥650/页</td>
        <td>N/A</td>
    </tr>
    </tbody>
</table>-->
<h4>支付方式（如需要国内"会议注册费"发票，请选择此汇款方式）</h4>
<table class="table table-bordered">
    <tbody>
    <tr>
        <th width="30%">账户名称</th>
        <td>上海交通大学</td>
    </tr>
    <tr>
        <th>开户银行</th>
        <td>中国银行上海市上海交通大学支行</td>
    </tr>
    <tr>
        <th>银行账号</th>
        <td>439059226890</td>
    </tr>
    </tbody>
</table>
<p>
    注意：<b>汇款备注"ISCO2018+参会者姓名"。</b>同时，请将注册表
    （<a href="file/registration_form.docx">registration_form.docx</a>）和汇款凭证扫描为 PDF 文档后，
    将其压缩打包成一个文件（文件名为"ISCO2018_参会者姓名"），发送到
    <a href="mailto:isco2018.chairs@gmail.com">isco2018.chairs@gmail.com</a>，
    邮件主题为"ISCO2018_参会者姓名"。</p>
<p>
    Please send your inquiries about the registration to
    <a href="mailto:isco2018.chairs@gmail.com">isco2018.chairs@gmail.com</a>.
</p>