<h2>Sponsors</h2>
<div class="row sponsor-cell">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail">
                <a target="_blank" href="http://anl.sjtu.edu.cn"><img src="img/anl.png" width="140px"></a>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <p>
                <b>Advanced Network Laboratory (ANL)</b> at Shanghai Jiao Tong University was established in the spring of
                2011
                with 5 active faculty advisors, currently having 24 graduated doctorates or masters and more than 40
                postgraduates. The mission of the lab is to conduct original research in various communication networks with
                an emphasis on research contributions and impact. Along this goal, we have identified a few exciting
                research topics from theoretical hardcore problems to real-word applications including distributed network
                and data processing, wireless network structure and optimization, wireless networks and mobile computing,
                the Internet of Things and sensor networks, game theory algorithms and applications. Current research
                projects have been funded by many sponsors including the National Science Foundation (NSF) of China, the
                Ministry of Education in China, the Ministry of Science Technology in China, and Shanghai Municipal
                Government. During the six years since the establishment, we have published hundreds of papers in well-known
                international journals and have won the best paper awards from many influential conferences such as ICNP,
                DASFAA and ICPADS. Because of our excellent contributions, we have won the first prize of natural science of
                Ministry of Education.
            </p>
        </div>
    </div>
</div>

<div class="row sponsor-cell">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail">
                <img src="img/gps.png" width="140px">
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <p>
                The <b>Grid P2P Sensor (GPS)</b> is a research group belonging to State Key Laboratory for Novel Software
                Technology and the Department of Computer Science and Technology at Nanjing University led by distinguished
                Prof. Guihai Chen. Our research interests are centered around distributed computing, Internet of things,
                mobile computing, data mining and data centers, with the larger goal of making current and future networks
                easier to design, understand and operate. We are currently active in multiple areas including wireless
                charging, smartphone, routing and network update. Most of our projects are inherently tend to involve recent
                advances in approximation algorithm, combinatorial optimization, convex optimization and probability
                analysis. We published more than 300 papers in peer reviewed journals such as ACM/IEEE Transactions on
                Networks, IEEE Journal on Selected Areas in Communications, IEEE Transactions on Services Computing, IEEE
                Transactions on Parallel & Distributed Systems, IEEE Transactions on Mobile Computing, IEEE Transactions
                onKnowledge and Data Engineering, ACM Transactions on Sensor Networks, etc., and well known conference
                proceedings such as SIGMETRICS, VLDB, MOBIHOC, INFOCOM, ICPP, ICDCS, ICNP, IPSN, AAAI, HPCA, etc. We
                received the best paper award from MOBICOM 2009, ICCS2014, AAMAS 2014, ICNP 2015, ICPADS 2016, CloudComp
                2016, DSAFA 2017, INFOCOM 2017.
            </p>
        </div>
    </div>
</div>

<div class="row sponsor-cell">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail">
                <a target="_blank" href="http://riis.shufe.edu.cn"><img src="img/riis.png" width="140px"></a>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <p>
                Aiming to facilitate interdisciplinary communication and development as well as foster top interdisciplinary
                talents, the <b>Research Institute for Interdisciplinary Sciences (RIIS)</b> is born. RIIS has an
                outstanding
                faculty team, with more than ten Ph.D.'s from renowned Chinese and international universities, such as
                Stanford University. RIIS is an umbrella institute hosting five research organizations, namely Research
                Center for Management Science and Information Analytics, The LEAVES International Parallel Computing
                Optimization Lab(LEAVES), Research Center for FinTech, Research Center for Artificial Intelligence, and
                Research Center for Sharing Economy. In addition, RIIS plans to launch a MD-PhD joint program with
                University of Minnesota. Together with School of Information Management and Engineering, RIIS will start a
                pilot project, and will be devoted to top-talent cultivation.
            </p>
        </div>
    </div>
</div>

<div class="row sponsor-cell">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail" style="float: left">
                <a target="_blank" href="https://www.shanshu.ai"><img src="img/shanshu.png" width="140px"></a>
            </div>
        </div>
        <div class="col-sm-9 com-md-10">
            <p>
                <b>Cardinal Operations</b> is a unique big-data decision company in China. Founded by five Stanford
                professor and PhDs, and with a team of world-class decision making experts and data scientists, Cardinal
                Operations aims at using big data to provide solutions for firms under complex decision scenarios. Different
                from many other "big data" companies, we try to close the loop in the decision chain in the era of big data
                - from data collection, pattern analysis, all the way to the final decision. Particularly, with the decision
                making experts and the state-of-the-art models and algorithms, we fill the gap of translating the results
                from data analysis to executable decision, making the most use of data to create value for companies.
            </p>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <div class="col-sm-3 col-md-2">
            <div class="img-thumbnail" style="float: left">
                <a target="_blank" href="http://www.springer.com"><img src="img/springer.png" width="140px"></a>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <p>
                <b>Springer</b> is a leading global scientific, technical and medical portfolio, providing researchers in
                academia, scientific institutions and corporate R&D departments with quality content through innovative
                information, products and services. Springer has one of the strongest STM and HSS eBook collections and
                archives, as well as a comprehensive range of hybrid and open access journals. Springer is part of Springer
                Nature, a global publisher that serves and supports the research community. As part of Springer Nature,
                Springer sits alongside other trusted brands like Nature Research, BioMed Central and Palgrave Macmillan.
            </p>
        </div>
    </div>
</div>