<h2>Camera-Ready Submission Guideline</h2>
<p>
    The final paper and the signed copyright form are due on <em style="color: red">September 20th, 2017</em>.
    This is
    a firm
    deadline for the production of the proceedings. You should submit your paper using your
    <a target="_blank" href="https://easychair.org/conferences/?conf=cocoa2017">EasyChair</a>
    proceedings author role for COCOA 2017.
</p>
<ol>
    <li>
        FINAL PAPER: Please submit the files belonging to your camera-ready paper using your EasyChair author
        account. Follow the instructions after the login for uploading two files:
        <ul>
            <li>either a zipped file containing all your LaTeX sources or a Word file in the RTF format, and
            </li>
            <li>the PDF version of your camera-ready paper</li>
        </ul>
        <p>
            The page limit is <b>15</b> (for full paper), <b>8</b> (for short paper) and is strict. Authors with
            over-page
            must pay the extra fee of <b>USD $100</b> per page (discounted). A maximum
            of 2 over-pages is allowed, and the fee is charged via registration. Please follow strictly the
            author instructions of Springer-Verlag when preparing the final version:
            <a target="_blank"
               href="http://www.springer.com/cn/computer-science/lncs/conference-proceedings-guidelines">
                http://www.springer.com/cn/computer-science/lncs/conference-proceedings-guidelines
            </a>.
        </p>
        <p>
            Our publisher has recently introduced an extra control loop: once data processing is finished, they
            will
            contact all corresponding authors and ask them to check their papers. We expect this to happen
            shortly
            before the printing of the proceedings. At that time your quick interaction with Springer-Verlag
            will be
            greatly appreciated.
        </p>
    </li>
    <li>
        <p>
            COPYRIGHT: Please upload a signed and completed copyright form to us as soon as possible. The
            Springer copyright forms can be found at
            <a target="_blank"
               href="http://www.springer.com/cda/content/document/cda_downloaddocument/copyrigh.pdf?SGWID=0-0-45-154182-0">
                http://www.springer.com/cda/content/document/cda_downloaddocument/copyrigh.pdf?SGWID=0-0-45-154182-0
            </a>.
        </p>
        <p>Please note that:</p>
        <ul>
            <li>The <b>Volume Editor(s)</b> in the copyright should be <b>XIAOFENG GAO,
                    HONGWEI DU, and MENG HAN</b>.</li>
            <li>The <b>Title of the Book or Conference Name</b> should be <b>The
                    11th Annual International Conference on Combinatorial Optimization and Applications
                    (COCOA'17)</b>.</li>
        </ul>
        <p>It is sufficient for one of the authors to sign the copyright form. You can scan the form into PDF or
            any other standard image format.</p>
    </li>
</ol>
<p>
    All questions about papers should be sent to the volume editor Meng Han
    (<a href="mailto:mhan9@kennesaw.edu">mhan9@kennesaw.edu</a>).
</p>