<h2>Conference Venue</h2>
<h4>Jianguo Hotel Shanghai 上海建国宾馆</h4>
<div class="row text-center">
    <div class="col-sm-12">
        <img class="img-thumbnail" src="img/hotel_1.png" width="30%">
        <img class="img-thumbnail" src="img/hotel_2.png" width="30%">
        <img class="img-thumbnail" src="img/hotel_3.png" width="30%">
    </div>
</div>
<p>
    Jianguo Hotel Shanghai is an international four-star hotel, located in the center of Xujiahui, one of the
    busiest CBD areas of Shanghai. The hotel is in the Xujiahui Origin Tourist Site, a National 4A scenic spot,
    which is the first open metropolitan tourism area within historical and cultural landscapes such as Xujiahui
    Cathedral, Xujiahui Bibliotheca, Tushanwan Museum, Xu Guangqi Memorial Hall, city greenbelt Xujiahui Park,
    and specialty malls such as Grand Gateway 66, East Building, Metro City, Buynow. Also, Jian Guo Hotel is
    well known for its easy access to the metro, inner ring road and Humin highway. Within 15 minutes from
    Hongqiao International Airport to Jian Guo Hotel and 45 minutes from Pudong International Airport to Jian
    Guo Hotel, our location is your best choice.
</p>
<p><b>Address:</b> 439 Caoxi N Rd, XuJiaHui, Xuhui Qu, Shanghai Shi, China</p>
<div class="row">
    <div class="col-sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3413.116680849327!2d121.4359353156913!3d31.18977798148017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35b2652e23621f87%3A0xbd54338adf6c25d4!2sJianguo+Hotel+Shanghai!5e0!3m2!1sen!2s!4v1504699111289"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
