<h2>Conference Venue</h2>
<h4>Jianguo Hotel Shanghai 上海建国宾馆</h4>
<div class="row text-center">
    <div class="col-sm-12">
        <img class="img-thumbnail" src="img/hotel_1.png" width="30%">
        <img class="img-thumbnail" src="img/hotel_2.png" width="30%">
        <img class="img-thumbnail" src="img/hotel_3.png" width="30%">
    </div>
</div>
<p>
    Jianguo Hotel Shanghai is an international four-star hotel, located in the center of Xujiahui, one of the
    busiest CBD areas of Shanghai. The hotel is in the Xujiahui Origin Tourist Site, a National 4A scenic spot,
    which is the first open metropolitan tourism area within historical and cultural landscapes such as Xujiahui
    Cathedral, Xujiahui Bibliotheca, Tushanwan Museum, Xu Guangqi Memorial Hall, city greenbelt Xujiahui Park,
    and specialty malls such as Grand Gateway 66, East Building, Metro City, Buynow. Also, Jian Guo Hotel is
    well known for its easy access to the metro, inner ring road and Humin highway. Within 15 minutes from
    Hongqiao International Airport to Jian Guo Hotel and 45 minutes from Pudong International Airport to Jian
    Guo Hotel, our location is your best choice.
</p>
<p><b>Address:</b> 439 Caoxi N Rd, XuJiaHui, Xuhui Qu, Shanghai Shi, China</p>
<div class="row">
    <div class="col-sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3413.116680849327!2d121.4359353156913!3d31.18977798148017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35b2652e23621f87%3A0xbd54338adf6c25d4!2sJianguo+Hotel+Shanghai!5e0!3m2!1sen!2s!4v1504699111289"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<h3>交通路线</h3>
<!--<h4>1. 火车站</h4>
<ul>
    <li>上海虹桥站：乘地铁10号线，到陕西南路换乘1号线，到徐家汇站，从2号口出来沿漕溪北路向南步行300米即到。</li>
    <li>上海站：乘地铁1号线，到徐家汇站，从2号口出来沿漕溪北路向南步行300米即到。</li>
    <li>上海南站：乘地铁1号线，到徐家汇站，从2号口出来沿漕溪北路向南步行300米即到。</li>
    <li>上海西站：乘地铁11号线，到徐家汇站，从1号线2号口出来沿漕溪北路向南步行300米即到。</li>
</ul>
<h4>2. 机场</h4>
<ul>
    <li>上海虹桥国际机场：乘地铁10号线，到陕西南路换乘1号线，到徐家汇站，从2号口出来沿漕溪北路向南步行300米即到。</li>
    <li>上海浦东国际机场：乘磁悬浮（开往龙阳路方向），到龙阳路，换乘2号线，到人民广场换乘1号线，从2号口出来沿漕溪北路向南步行300米即到。</li>
</ul>-->

<ul>
    <li><b>地铁：</b>乘地铁1号线、9号线、11号线到徐家汇站，从2号口出来沿漕溪北路向南步行300米即到。</li>
    <li><b>公交： </b>乘42路、43路、50路、167路、198路、205路、303路、732路、816路、824路、830路、920路、926路、931路、946路、957路、隧道夜宵一线、徐闵线可以到徐家汇公交站，沿漕溪北路向南步行300米即到。</li>
    <li>
        <b>出租：</b>
        <ul>
            <li>由徐家汇自北向南进入</li>
            <li>由虹桥路自西向东经文定路、南丹路进入</li>
            <li>由天钥桥路自北向南经南丹东路进入</li>
            <li>由沪闵高架自南向北进入</li>
            <li>由内环高架内圈宛平路出口经斜土路由东向西到南丹东路进入</li>
            <li>由内环高架外圈徐家汇出口经漕溪北路进入</li>
        </ul>
    </li>
</ul>