.img-thumbnail {
    border: none;
}

.sponsor-cell {
    margin-top: 20px;
    border-bottom: solid gray 0.5px;
    padding-bottom: 10px;
}

.chair-cell {
    border-bottom: solid gray 0.5px;
}

.photo-cell {
    max-height: 300px;
}